body {
	margin: 0 auto;
	overflow-x: hidden;
	max-width: 1700px;
	min-width: 320px;
}

a {
	color: #000000;
}

ul {
	list-style: none;
	padding: 0;
}

.container {
	position: relative;
	max-width: 100%;
	overflow-x: hidden;
	display: inline-block;
	margin: 0 auto;
}

.navhover {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 90px;
	height: 200px;
}

.logo {
	width: 60px;
	position: absolute;
	left: 3%;
	top: 5%;
	padding-bottom: 100px;
	z-index: 4;
	position: fixed;
	cursor: pointer;
}

.dropdown {
	display: block;
	position: absolute;
	left: 3%;
	top: 90px;
	min-width: 100px;
	z-index: 5;
	position: fixed;
}

.dropdown a {
	display: block;
	color: #595959;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	letter-spacing: .05em;
	text-align: left;
	padding: 5px;
	font-size: 14px;
}

.navhover:hover .dropdown {
	display: block;
}

.dropdown a:hover {
	color: #c9c9c9;
}

.logo:hover {
	opacity: 0.5;
}

.title {
	text-align: center;
	font-family: 'lato', sans-serif;
	font-size: 40px;
	display: block;
	margin: 0 auto;
	color: #424249;
	letter-spacing: .15em;
	font-weight: 700;
	margin-top: 2%;
	margin-bottom: 5%;
}
.row {
	width: 80%;
	margin: 0 auto;
}

.column {
	display: inline-block;
	width: 33.333%;
	margin: 0 auto;
	vertical-align: top;
}

.mia, .ep, .ground {
	position: relative;
	width: 80%;
	margin: 0 auto;
	display: block;
}

.iimage {
	width: 75%;
	padding: 40px;
	vertical-align: top;
	display: block;
	margin: 0 auto;
}

.hover {
	width: 100%;
	padding: 0;
	margin: 0 auto;
	padding: 40px;
	padding-left: 0;
}

.a {
	width: 100%;
	vertical-align: top;
	display: block;
	margin: 0 auto;
}

.p {
	width: 100%;
	padding: 40px;
	padding-left: 0;
	padding-right: 0;
	vertical-align: top;
	margin: 0 auto;
}

.com, .dip, .plage, .white, .cul, .purp, .void, .bluedip, .paige, .cure, .aid, .purpline, .begin, .landscape, .jenna, .sero, .wyatt, .allie {
	position: relative;
	width: 80%;
	margin: 0 auto;
	display: block;
}

.overlay1, .overlay2, .overlay3{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #f3f1ee;
}

.p1, .p2, .p3, .p4, .p5, .p6, .p7, .p8, .p9, .p10, .p11, .p12, .p13, .p14, .p15, .p16, .p17, .p18 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .5s ease;
}

.p9, .p18, .p17 {
	background-color: #6683F4;
}
.p15, .p13, .p16 {
	background-color: #5C76DA;
}
.p10, .p12, .p7 {
	background-color: #4C61B4;
}
.p14, .p8, .p11, .p2, .p4 {
	background-color: #313F74;
}
.p1, .p3, .p6, .p5{
	background-color: #161C35;
}

.com:hover .p1{
	opacity: 1;
}
.dip:hover .p2{
	opacity: 1;
}
.plage:hover .p3{
	opacity: 1;
}
.white:hover .p4{
	opacity: 1;
}
.cul:hover .p5{
	opacity: 1;
}
.purp:hover .p6{
	opacity: 1;
}
.void:hover .p7{
	opacity: 1;
}
.bluedip:hover .p8 {
	opacity: 1;
}
.paige:hover .p9 {
	opacity: 1;
}
.cure:hover .p10 {
	opacity: 1;
}
.aid:hover .p11 {
	opacity: 1;
}
.purpline:hover .p12 {
	opacity: 1;
}
.begin:hover .p13{
	opacity: 1;
}
.landscape:hover .p14 {
	opacity: 1;
}
.jenna:hover .p15 {
	opacity: 1;
}
.sero:hover .p16{
	opacity: 1;
}
.wyatt:hover .p17 {
	opacity: 1;
}
.allie:hover .p18 {
	opacity: 1;
}



.text {
	font-family: 'lato', sans-serif;
	color: #595959;
	font-size: 12px;
	font-weight: 400;
	text-align: left;
	letter-spacing: .04em;
	padding: 20px;
	width: 80%;
	margin: 0 auto;
}

.mia:hover .overlay1{
	opacity: 1;
}
.ep:hover .overlay2{
	opacity: 1;
}
.ground:hover .overlay3{
	opacity: 1;
}

.project {
	color: white;
	font-size: 12px;
	font-family: 'lato', sans-serif;
	letter-spacing: .15em;
	text-align: center;
	padding-top: 15%;
}

.row35 {
	width: 80%;
	margin: 0 auto;
	overflow-x: hidden;
	margin-bottom: 50px;
	overflow-y: hidden;
}

.image35 {
	width: 27%;
	display: inline-block;
	margin: 0 auto;
	vertical-align: top;
	margin-left: 50px;
}


.copyright {
    width: 90%;
    opacity: 0.7;
    margin: 0 auto;
    text-align: center;
    font-size: .7em;
    padding: 70px 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #595959;
}

.social_media {
	width: 65%;
	margin: 0 auto;
	padding-bottom: 20px;
}
.social_media img {
	width: 25px;
	height: 25px;
	margin: 0 auto;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.social_media a {
	text-decoration: none;
}

/******************************

     	  MEDIA QUERYS 

*******************************/

@media screen and (max-width: 986px) {
	.image35 {
		display: block;
		width: 90%;
		margin: 0 auto;
		padding: 30px 0px;
	}
	.row35 {
		margin-bottom: 0;
	}
	.p {
		padding: 0;
	}
}
@media screen and (max-width: 900px) {
	.column {
		display: block;
		width: 80%;
		margin: 0 auto;
	}

	.iimage {
		width: 100%;
		padding: 0;
		margin-top: 15%;
	}

	.a {
		width: 100%;
	}

	.title {
		font-size: 35px;
	}

	.a {
		padding: 0;
		margin-top: 15%;
	}
}

@media screen and (max-width: 660px) {
	.social_media img{
		width: 25px;
		height: 25px;
	}
}

@media screen and (max-width: 600px) {
	.logo {
		width: 40px;
		top: 3%;
	}
	.dropdown {
		top: 10%;
	}
	.dropdown a {
		text-align: left;
	}
}
@media screen and (max-width: 500px) {
	.title {
		font-size: 30px;
	}
	.copyright {
		font-size: .6em;
		padding: 40px 0;
	}
	.image35 {
		width: 80%;
	}
}
@media screen and (max-width: 450px) {	
	.dropdown {
		display: none;
	}
}

@media screen and (max-width: 430px) {	
	.social_media img{
		width: 20px;
		height: 20px;
	}
}

@media screen and (max-width: 400px) {
	.title {
		font-size: 20px;
		letter-spacing: .12em;
	}
	.social_media img {
		margin-left: 7px;
		margin-right: 7px;
	}
}

@media screen and (max-width: 320px) {
	.social_media img{
		width: 15px;
		height: 15px;
	}
}


