body {
 	margin: 0 ;
 	overflow-x: hidden;
 	max-width: 1700px;
 	min-width: 320px;
}

meta {
	display: none;
}

a {
	color: #595959;
}

ul {
	list-style: none;
	padding: 0;
}

.container {
	position: relative;
	max-width: 100%;
	overflow-x: hidden;
	display: inline-block;
	margin: 0 auto;
}

.navhover {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 90px;
	height: 200px;
}

.logo {
	width: 60px;
	position: absolute;
	left: 3%;
	top: 5%;
	padding-bottom: 100px;
	z-index: 4;
	position: fixed;
	cursor: pointer;
}

.dropdown {
	display: none;
	position: absolute;
	left: 1.5%;
	top: 85px;
	min-width: 100px;
	z-index: 5;
	position: fixed;
	background-color: white;
}

.dropdown a {
	display: block;
	color: #595959;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	letter-spacing: .05em;
	text-align: center;
	padding: 5px;
}

.navhover:hover .dropdown {
	display: block;
}

.dropdown a:hover {
	color: #c9c9c9;
}

.logo:hover {
	opacity: 0.5;
}

/**************
**************/

.row {
	width: 80%;
	display: block;
	margin: 0 auto;
	padding-top: 5%;
	padding-bottom: 5%;
}

.full {
	display: block;
	width: 90%;
	margin: 0 auto;
	padding: 20px;
	/*margin-bottom: 5%;*/
}

.fulltext {
	display: block;
	width: 60%;
	margin: 0 auto;
	padding: 30px 0px 40px 0px;
	/*margin-top: 5%;*/
}

.fulltext2 {
	display: block;
	width: 70%;
	margin: 0 auto;
}

.full h1, .half h1 {
	text-align: left;
	font-family: 'Work Sans', sans-serif;
	color: #000000;
	font-size: 24px;
	font-weight: 600;
	line-height: 1.6;
	letter-spacing: .02em;
	z-index: 101;
	width: 80%;
	margin: 0 auto;
}

.full h3, .half h3 {
	text-align: left;
	font-family: 'Work Sans', sans-serif;
	color: #000000;
	font-size: 22px;
	font-weight: 400;
	line-height: 1.3;
	letter-spacing: 0em;
	z-index: 101;
	width: 80%;
	margin: 0 auto;
}

.sg h3 {
	width: 85%;
	margin: 0 auto;
	font-size: 20px;
}

.fulltext h1, .fulltext2 h1 {
	text-align: left;
	font-family: 'Work Sans', sans-serif;
	color: #000000;
	font-size: 28px;
	font-weight: 600;
	line-height: 1.4;
	letter-spacing: .03em;
	z-index: 101;
}
.fulltext2 h1 {
	font-size: 22px;
}

.fulltext h3, .fulltext2 h3 {
	text-align: left;
	font-family: 'Work Sans', sans-serif;
	color: #000000;
	font-size: 24px;
	font-weight: 400;
	line-height: 1.3;
	letter-spacing: .01em;
	z-index: 101;
}

.fulltext2 h3 {
	font-size: 22px;
}

.bold {
	font-weight: 900;
	letter-spacing: .07em;
	/*font-size: 24px;*/
}

.bold2 {
	font-weight: 700;
	letter-spacing: .03em;
	/*font-size: 24px;*/
}

.half {
	display: inline-block;
	width: 50%;
	margin: 0 auto;
	padding: 0px;
	/*padding-bottom: 0;*/
	vertical-align: top;
}

.a {
	width: 100%;
	margin: 0 auto;
	vertical-align: top;
}

.thirty {
	display: block;
	width: 40%;
	margin: 0 auto;
	vertical-align: top;
}

.seventy {
	display: block;
	width: 60%;
	margin: 0 auto;
	vertical-align: top;

}

.caption {
	margin: 0 auto;
	font-family: 'Work Sans', sans-serif;
	color: #191919;
	font-size: 18px;
	font-weight: 500;
	padding: 0;
	line-height: 1.5;
	letter-spacing: .03em;
	text-align: right;
	margin-top: 3%;
}

.cap {
	font-family: 'Work Sans', sans-serif;
	color: #191919;
	font-size: 18px;
	font-weight: 500;
	padding: 0;
	line-height: 1.5;
	letter-spacing: .03em;
	text-align: right;
	margin-bottom: 3%;
}
.third {
	display: inline-block;
	width: 25%;
	margin: 0 auto;
	vertical-align: top;
	margin-left: 3%;
}

.rightm {
	padding:0;
	box-shadow: 10px 10px 5px #f3f1ee;
	margin-left: 6%;
	vertical-align: bottom;
}

.shadow {
	box-shadow: 10px 10px 5px #f3f1ee;
}

.proc, #proc {
	display: none;
	width: 100%;
	margin: 0 auto;
}

.bottom {
	vertical-align: bottom;
	padding-bottom: 5%;
}

.three {
	width: 45%;
	margin: 0 auto;
}

.wf {
	/*padding: 10px;*/
	width: 85%;
	margin: 0 auto;
}

.title {
	font-family: 'Work Sans', sans-serif;
	color: #000000;
	text-align: center;
	font-weight: 700;
	font-size: 32px;
	margin-bottom: 30px;
	padding-top: 5%;
}

.copyright {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: .7em;
    padding: 70px 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #595959;
}

.social_media {
	width: 65%;
	margin: 0 auto;
	padding-bottom: 20px;
}
.social_media img {
	width: 25px;
	height: 25px;
	margin: 0 auto;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.social_media a {
	text-decoration: none;
}

/******************************

     	  MEDIA QUERYS 

*******************************/
@media screen and (max-width: 1100px) {
	.switch {
		display: -webkit-flex;
	    -webkit-flex-direction: column-reverse;
	}
	.half {
		display: block;
		width: 80%;
		padding: 0;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	.thirty {
		width: 50%;
		padding-bottom: 30px;
	}
	.fulltext {
		width: 80%;
		padding-right: 0;
	}
	.third {
		width: 40%;
		display: block;
		margin: 0 auto;
	}

	.rightm {
		margin-top: 60px;
	}
	.full h1, .half h1 {
		font-size: 22px;
		font-weight: 600;
		line-height: 1.7;
		letter-spacing: .02em;
		width: 90%;
		margin: 0 auto;
	}

	.full h3, .half h3 {	
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: .02em;
		width: 90%;
		margin: 0 auto;
	}
	.fulltext h1, .fulltext2 h1 {
		font-size: 28px;
		font-weight: 600;
		line-height: 1.4;
		letter-spacing: .03em;
	}
	.fulltext h3, .fulltext2 h3 {
		font-size: 24px;
		font-weight: 400;
		line-height: 1.3;
		letter-spacing: .01em;
	}
	.fulltext2 h1, .fulltext2 h3 {
		font-size: 22px;
	}
	.cap {
		font-size: 16px;
	}
}

@media screen and (max-width: 850px) {
	.fulltext, .fulltext2 {
		display: block;
		width: 85%;
		margin: 0 auto;
	}
	.fulltext h1, .fulltext2 h1 {
		font-size: 22px;
		font-weight: 600;
		line-height: 1.3;
		letter-spacing: .02em;
	}
	.fulltext h3, .fulltext2 h3 {
		font-size: 20px;
		font-weight: 400;
		line-height: 1.4;
		letter-spacing: .02em;
	}
	.fulltext2 h1, .fulltext2 h3 {
		font-size: 20px;
	}
	.seventy, .wf {
		width: 100%;
		margin: 0 auto;
	}
	.full h3, .half h3 {	
		font-size: 16px;
		line-height: 1.3;
		letter-spacing: .02em;
	}
}
@media screen and (max-width: 700px) {
	/*.fulltext {
		width: 85%;
		padding:10px;
	}*/
}
@media screen and (max-width: 660px) {
	.social_media img{
		width: 25px;
		height: 25px;
	}
}

@media screen and (max-width: 600px) {
	.logo {
		width: 40px;
		top: 3%;
	}
	.dropdown {
		top: 10%;
	}
	.dropdown a {
		text-align: left;
	}
	/*.half {
		width: 80%;
	}*/
	.fulltext, .fulltext2 {
		width: 90%;
		margin: 0 auto;
	}
	.full h1, .half h1, .full h3, .half h3 {
		width: 100%;
		margin: 0 auto;
	}
	.fulltext h1, .fulltext2 h1 {
		font-size: 20px;
		font-weight: 500;
		margin: 0;
		letter-spacing: .02em;
		line-height: 1.2;
	}

	.fulltext h3, .fulltext2 h3 {	
		font-size: 18px;
		font-weight: 300;
		margin: 0;
		line-height: 1.3;
		letter-spacing: .02em;
	}
	.fulltext2 h1, .fulltext2 h3 {
		font-size: 18px;
	}
	/*.bold {
		font-weight: 700;
		letter-spacing: .07em;
		font-size: 22px;
	}
	.text {
		padding: 0;
	}*/
	.full h3, .half h3 {	
		font-size: 14px;
		line-height: 1.2;
		letter-spacing: .02em;
	}
}
@media screen and (max-width: 500px) {
	/*.title {
		font-size: 30px;
	}*/
	.copyright {
		font-size: .6em;
		padding: 40px 0;
	}
	/*.text h1 {
		font-size: 18px;
		font-weight: 500;
		margin: 0;
		line-height: 1.5;
		letter-spacing: .02em;
		padding-right: 0px;
	}

	.text h3 {	
		font-size: 14px;
		font-weight: 300;
		margin: 0;
		line-height: 1.4;
		letter-spacing: .02em;
		padding-right: 0px;
	}*/

	.bold {
		font-weight: 700;
		letter-spacing: .03em;
	}
}

@media screen and (max-width: 430px) {
	.social_media img{
		width: 20px;
		height: 20px;
	}
	.fulltext h1, .fulltext2 h1 {
		font-size: 16px;
		letter-spacing: .01em;
	}
	.fulltext h3, .fulltext h3 {
		font-size: 14px;	
		letter-spacing: .01em;
	}
	.fulltext2 h1, .fulltext2 h3 {
		font-size: 16px;
	}
}

@media screen and (max-width: 400px) {
	.title {
		font-size: 20px;
	}
	.social_media img {
		margin-left: 7px;
		margin-right: 7px;
	}
	.cap {
		font-size: 14px;
	}
	.half {
		width: 90%;
		margin: 0 auto;
		padding-bottom: 20px;
	}

	.fulltext2 h3 {
		font-size: 14px;	
		letter-spacing: .01em;
		line-height: 1.1;
	}
}

@media screen and (max-width: 320px) {
	.social_media img{
		width: 15px;
		height: 15px;
	}
	.half {
		padding-bottom: 30px;
	}
}