body {
 	margin: 0 ;
 	overflow-x: hidden;
 	max-width: 1700px;
 	min-width: 320px;
}

meta {
	display: none;
}

a {
	color: #595959;
	text-decoration: none;
}

ul {
	list-style: none;
	padding: 0;
}

/******* FONT COLORS *******

title: #424249
body: #595959
copyright: #595959; 
	opacity: .7;

****************************/

.container {
	position: relative;
	max-width: 100%;
	display: inline-block;
	margin: 0 auto;
	overflow-x: hidden;
}
.navhover {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 90px;
	height: 200px;
}

.logo {
	width: 60px;
	position: absolute;
	left: 3%;
	top: 5%;
	padding-bottom: 100px;
	z-index: 4;
	position: fixed;
	cursor: pointer;
}


.dropdown {
	display: block;
	position: absolute;
	left: 3%;
	top: 90px;
	min-width: 100px;
	z-index: 5;
	position: fixed;
}

.dropdown a {
	display: block;
	color: #595959;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 14px;
	letter-spacing: .05em;
	padding: 5px;
}

.navhover:hover .dropdown {
	display: block;
}

.dropdown a:hover {
	color: #c9c9c9;
}

.logo:hover {
	opacity: 0.5;
}

.top-container {
     max-width: 100%;
     display: block;
     padding-top: 10%;
     height: 700px;
     position: relative;
     overflow-x: hidden;
     overflow-y: hidden;
}

.name {
	position: absolute;
	right: 15%;
	top: 42%;
	overflow-x: hidden;
	font-family: 'Work Sans', sans-serif;
	font-size: 38px;
	margin: 0;
	color: #424249;
	letter-spacing: .07em;
	font-weight: 700;
	z-index: 2;
	text-align: left;
}

.first {
	font-size: 42px;
	letter-spacing: .09em;
}

.top-container h4 {
	position: absolute;
	right: 18%;
	top: 57%;
	font-family: 'Work Sans', sans-serif;
	font-size: 30px;
	margin: 0;
	color: #595959;
	overflow-x: hidden;
	letter-spacing: .05em;
	text-align: right;
	font-weight: 400;
	z-index: 2;
}

.sansbr {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 50%;
	font-family: 'Work Sans', sans-serif;
	font-size: 32px;
	margin: 0;
	color: #424249;
	letter-spacing: .08em;
	font-weight: 700;
	z-index: 2;
	text-align: center;
	overflow-x: hidden;
}

.grey {
	width: 55%;
	position: absolute;
	height: 400px;
	left: 25%;
	top: 18%;
	background-color: #EDEBE8;
	opacity: 0.6;
	z-index: -10;
	position: absolute;
	overflow-x: hidden;
}

.gif {
	position: absolute;
	width: 45%;
	height: auto;
	left: 20%;
	top: 10%;
	z-index: 1;
	box-shadow: 10px 10px 5px #ffffff;
	overflow-x: hidden;
}

.copyright {
    width: 100%;
    opacity: .7;
    margin: 0 auto;
    text-align: center;
    font-size: .7em;
    padding: 65vh 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #595959;
    overflow-x: hidden;
}

.social_media {
	width: 65%;
	margin: 0 auto;
	padding-bottom: 20px;
	overflow-x: hidden;
}
.social_media img {
	width: 25px;
	height: 25px;
	margin: 0 auto;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.social_media a {
	text-decoration: none;
}

.design, .process, .art, .about {
	max-width: 100%;
	margin: 0 auto;
	overflow-x: hidden;
	overflow-y: hidden;
	padding-bottom: 5%;
	z-index: 1;
}
.about {
	margin-top: 10%;
	padding-bottom: 0;
}

.row, .row2 {
	width: 80%;
	margin: 0 auto;
	position: relative;
}

.d {
	width: 40%;
	display: inline-block;
	margin: 0 auto;
	padding: 5% 5% 0 5%;
	vertical-align: top;
}

.design h1, .art h1 {
	text-align: left;
	font-family: 'lato', sans-serif;
	font-size: 30px;
	margin: 0;
	margin-left: 13%;
	color: #424249;
	letter-spacing: .15em;
	font-weight: 900;
}
.process h1, .about h1 {
	text-align: right;
	font-family: 'lato', sans-serif;
	font-size: 30px;
	margin: 0;
	margin-right: 13%;
	color: #424249;
	letter-spacing: .15em;
	font-weight: 900;
	margin-top: 2%;
}
.art h1{
	padding-top: 10%;
}
.design h1 {
	margin-top: 2%;
}

.art h3 {
	text-align: right;
	font-family: 'lato', sans-serif;
	font-size: 20px;
	margin: 0;
	margin-right: 15%;
	color: #424249;
	letter-spacing: .15em;
	font-weight: 700;
	padding-top: 5%;
}

.art h3:hover {
	color: #c9c9c9;
}
.design h5 {
	font-family: 'lato', sans-serif;
	font-size: 12pt;
	margin: 0;
	color: #595959;
	letter-spacing: .15em;
	font-weight: 300;
	text-align: center;
	margin-bottom: 3%;

}

.a {
	width: 100%;
}

.small {
	width: 50%;
	padding-left: 25%;
	padding-top: 5%;
}

.medium {
	width: 30%;
	display: inline-block;
	margin: 0 auto;
	position: relative;
	vertical-align: top;
	padding: 30px 0px 0px 45px;
}

.one {
	width: 32%;
}

.two {
	width: 20%;
}

.three {
	width: 29%;
}

.ux, .division, .hoot, .sg, .paint, .ill, .photo, .cover {
	position: relative;
	width: 100%;
	margin: 0 auto;
	box-shadow: 10px 10px 5px #f3f1ee;
}

.photo, .paint {
	border: none;
}

.photo {
	height: 300px;
	background-color: #E1D3C1;
	opacity: 0.7;
}

.overlay1, .overlay2, .overlay3, .overlay4, .overlay5, .overlay6, .overlay7, .overlay8 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .5s ease;
}

.overlay1 {
	background-color: #485934;
}
.overlay2 {
	background-color: #F7BCA9;
}
.overlay3 {
	background-color: #FB5135;
}
.overlay4 {
	background-color: #3C5CC5;
}
.overlay5 {
	background-color: #E1D3C1;
}
.overlay6 {
	background-color: #6F1D57;
}
.overlay7 {
	background-color: #FFC440;
}
.overlay8 {
	background-color: #CCE6E8;
}

.ux:hover .overlay1 {
	opacity: 1;
}
.division:hover .overlay2 {
	opacity: 1;
}
.hoot:hover .overlay3 {
	opacity: 1;
}
.sg:hover .overlay4 {
	opacity: 1;
}
.overlay5 {
	opacity: 1;
}
.ill:hover .overlay6 {
	opacity: 1;
}
.paint:hover .overlay7 {
	opacity: 1;
}
.cover:hover .overlay8 {
	opacity: 1;
}



.project, .lower_title, .lower_title0, .lower_title1 {
	color: white;
	font-size: 12px;
	font-family: 'lato', sans-serif;
	letter-spacing: .15em;
	text-align: center;
	padding-top: 20%;
}

.lower_title {
	padding-top: 60%;
}

.lower_title0 {
	padding-top: 38%;
}

.lower_title1 {
	padding-top: 40%;
}

.process {
	display: block;
	width: 100%;
	margin: 0 auto;
	padding-top: 8%;
	overflow-x: hidden;
}

.pro {
	width: 60%;
	display: block;
	margin: 0 auto;
	text-align: center;
	padding: 80px 0px 40px 0px;
	font-family: 'Work Sans', sans-serif;
	color: #595959;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.5;
	letter-spacing: .03em;
}

.full {
	width: 100%;
	margin: 0 auto;
	position: relative;
	height: 450px;

}

.grey2 {
	z-index: 0;
	background-color: #EDEBE8;
	opacity: 0.6;
	width: 70%;
	height: 320px;
	/*margin-bottom: 100px;*/
	position: absolute;
	right: 15%;
	top: 15%;
}

.border {
	border-style: solid;
	padding: 30px;
	border-color: #424249;
	width: 60%;
	position: absolute;
	right: 21%;
	top: 10%;
	z-index: 1;
	border-width: 3px;
}
.bio-text {
	font-family: 'Work Sans', sans-serif;
	color: #595959;
	font-size: 16px;
	font-weight: 300;
	margin: 0;
	line-height: 1.4;
	letter-spacing: .02em;
	z-index: 2;
}

.bold-text {
	font-family: 'lato', sans-serif;
	font-weight: 700;
}

.copyright2 {
    width: 90%;
    opacity: 0.7;
    margin: 0 auto;
    text-align: center;
    font-size: .7em;
    padding: 70px 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #595959;
    overflow-x: hidden;
}

.social_media {
	width: 65%;
	margin: 0 auto;
	padding-bottom: 20px;
	overflow-x: hidden;
}
.social_media img {
	width: 25px;
	height: 25px;
	margin: 0 auto;
	display: inline-block;
	margin-left: 10px;
	margin-right: 10px;
}

.social_media a {
	text-decoration: none;
}


/***************************

      MEDIA QUERYS 
      
****************************/

@media screen and (max-width: 1300px) {
	.gif {
		left: 20%;
		top: 15%;
	}	
}

@media screen and (max-width: 1200px) {
	.gif {
		left: 15%;
		top: 17%;
	}
}

@media screen and (max-width: 1100px) {
	.gif {
		/*left: 13%;*/
		top: 20%;
	}
	.d, .medium {
		display: block;
		width: 70%;
		margin: 0 auto;
	}
	.medium {
		width: 50%;
	}
	.process {
		height: 45vh;
		padding-top: 8%;
	}

	.pro {
		font-size: 20px;
		line-height: 1.5;
		letter-spacing: .03em;
		width: 70%;
	}
	.border {
		width: 70%;
		right: 15%;
		top: 10%;
	}	
	.grey2 {
		width: 80%;
		height: 340px;
		position: absolute;
		right: 10%;
		top: 15%;
	}
}

@media screen and (max-width: 1050px) {
	.name {
		font-size: 34px;
	}

	.top-container h4 {
		font-size: 30px;
	}
	.full {
		height: 500px;
	}
	.grey2 {
		height: 370px;
	}
}

@media screen and (max-width: 1000px) {
	.gif {
		width: 50%;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 10%;
	
	}
	.grey {
		width: 60%;
		height: 360px;
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.sansbr {
		display: block;
	}
	.name {
		display: none;
	}
	.top-container h4 {
		left: 0;
		right: 0;
		margin: 0 auto;
		text-align: center;
	}
	
}

@media screen and (max-width: 950px) {	
	.gif {
		width: 55%;
	}

}

@media screen and (max-width: 900px) {	
	.gif {
		top: 10%;
		width: 55%;
	}
	
}

@media screen and (max-width: 850px) {	
	.grey {
		height: 350px;
	}
	.gif {
		top: 12%;
	}
	.medium {
		padding-left: 0;
	}
	.pro {
		font-size: 18px;
		line-height: 1.4;
		letter-spacing: .02em;
		width: 70%;
	}
}

@media screen and (max-width: 800px) {
	.bio-text{
		font-size: 14px;
	}
	.about {
		margin-top: 5%;
	}
	.gif {
		top: 13%;
	}
	.pro {
		width: 75%;
	}
	.sansbr {
		font-size: 30px;
	}
	.top-container h4 {
		font-size: 28px;
	}
	.grey {
		width: 65%;
	}
}

@media screen and (max-width: 700px) {
	.gif {
		width: 60%;
		top: 14%;
	}
	.box p {
		font-size: 16px;
	}
	.design h1, .art h1, , .art h3 {
		font-size: 24px;
		margin-left: 13%;
	}
	.process h1, .about h1 {
		font-size: 24px;
		margin-right: 13%;
		margin-top: 2%;
	}
	.pro {
		font-size: 18px;
		width: 80%;
	}
	.grey {
		width: 75%;
		height: 320px;
	}
	.border {
		right: 5%;
		top: 10%;
		width: 75%;
	}	
	.grey2 {
		width: 85%;
		right: 0%;
		top: 15%;
	}
	.dropdown {
		display: none;
	}
}

@media screen and (max-width: 660px) {
	.social_media img{
		width: 25px;
		height: 25px;
	}
	.grey2 {
		height: 350px;
	}
	
}

@media screen and (max-width: 650px) {
	.gif {
		top: 15%;
	}
}

@media screen and (max-width: 600px) {
	.logo {
		width: 40px;
		top: 3%;
	}
	.top-container {
		padding-top: 5%;
	}
	
	.dropdown {
		top: 10%;
	}
	.grey {
		height: 300px;
		top: 20%;
	}
	.design h1, .art h1, .art h3 {
		font-size: 20px;
		margin-left: 15%;
	}
	.process h1, .about h1 {
		font-size: 20px;
		margin-right: 15%;
		margin-top: 2%;
	}
	.pro {
		font-size: 16px;
	}
	.bio-text {
		padding: 0;
		font-size: 14px;
		line-height: 1.2;
	}
	.gif {
		top: 15%;
		width: 70%;
	}
	.sansbr {
		font-size: 26px;
	}
	.top-container h4 {
		font-size: 22px;
		top: 55%;
	}
	.border {
		border-width: 2px;
	}
}

@media screen and (max-width: 550px) {
	
	.grey2 {
		width: 80%;
		height: 380px;
		right: 10%;
		top: 15%;
	}
}

@media screen and (max-width: 500px) {
	/*.gif {
		top: 20%;
	}*/

	.grey {
		height: 280px;
	}
	.sansbr{
		top: 45%;
	}
	.top-container h4 {
		top: 50%;
	}
	.medium {
		width: 70%;
	}
	.pro {
		font-size: 14px;
	}
	.grey2 {
		width: 85%;
		height: 400px;
	}
}

@media screen and (max-width: 450px) {
	
	.design h1, .art h1, .art h3 {
		font-size: 16px;
		margin-left: 15%;
	}
	.process h1, .about h1 {
		font-size: 16px;
		margin-right: 15%;
		margin-top: 2%;
	}
	.full {
		height: 550px;
	}
	.sansbr {
		font-size: 20px;
		top: 42%;
	}
	.top-container h4 {
		font-size: 18px;
		top: 46%;
	}
	.grey {
		height: 220px;
	}
}

@media screen and (max-width: 430px) {
	.border {
		padding: 15px;
	}
	.portfolio {
		margin-top: 20%;
	}
	.social_media img{
		width: 20px;
		height: 20px;
	}
	.about {
		margin-top: 5%;
	}
	.grey2 {
		height: 470px;
		top: 7%;
	}
}

@media screen and (max-width: 400px) {
	.social_media img {
		margin-left: 7px;
		margin-right: 7px;
	}
	.grey2 {
		height: 450px;
		/*top: 7%;*/
	}
	.grey {
		width: 75%;
	}
	.top-container {
		height: 80vh;
	}
	.sansbr {
		font-size: 20px;
		top: 45%;
	}
	.top-container h4 {
		font-size: 18px;
		top: 50%;
	}

}

@media screen and (max-width: 390px) {
	.border {
		border-width: .5px;
	}
}

@media screen and (max-width: 320px) {
	.social_media img{
		width: 15px;
		height: 15px;
	}
	.bio-text{
		font-size: 12px;
	}
	.pro {
		font-size: 13px;
		width: 65%;
	}
	.sansbr {
		font-size: 18px;
		top: 47%;
	}
	.top-container h4 {
		font-size: 16px;
		top: 52%;
	}
	.grey {
		height: 180px;
	}
}



