body {
	margin: 0;
	overflow-x: hidden;
}

meta {
	display: none;
}

a {
	color: #595959;
}

.container {
	position: relative;
	max-width: 100%;
	overflow-x: hidden;
	display: inline-block;
}

.logo {
	width: 60px;
	position: absolute;
	left: 3%;
	top: 3%;
	z-index: 10000;
	position: fixed;
	cursor: pointer;
}

.logo_i {
	width: 60px;
	position: absolute;
	left: 3%;
	top: 3%;
	z-index: 9000;
	position: fixed;
}

.dropdown {
	display: none;
	position: absolute;
	left: 0;
	top: 100px;
	min-width: 160px;
	z-index: 100000;
	position: fixed;
	background-color: white;
}


.dropdown a {
	display: block;
	color: #595959;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
}

.container:hover .dropdown {
	visibility: show;
}

.dropdown a:hover {
	color: #c9c9c9;
}

ul {
	display: block;
	list-style: none;
	margin: 0;
}

li {
	display: block;
	padding: 10px;
	color: black;
	cursor: pointer;
}

.show {
	display: block;
}
.title {
	text-align: center;
	font-family: 'lato', sans-serif;
	font-size: 40px;
	display: block;
	margin: 0 auto;
	color: #595959;
	letter-spacing: .15em;
	font-weight: 900;
	margin-top: 3%;
	margin-bottom: 5%;
}

.row {
	width: 80%;
	margin: 0 auto;
	overflow-x: hidden;
	margin-bottom: 50px;
}

.image {
	width: 27%;
	display: inline-block;
	margin: 0 auto;
	vertical-align: top;
	margin-left: 50px;
}
.a {
	width: 50%;
	margin: 0 auto;
	display: inline-block;
}

.copyright {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: .9em;
    padding: 70px 0;
    font-family: 'Lato', sans-serif;
    color: #85744f;
}

/******* MEDIA QUERYS ********/
@media screen and (max-width: 1000px) {	
	.title {
		font-size: 30px;
	}
	.image, .image2, .image1 {
		width: 50%;
		display: block;
		margin: 0 auto;
		margin-bottom: 60px;
	}
	.row {
		margin-bottom: 0;
	}
	.a {
		width: 100%;
		display: block;
	}
}
@media screen and (max-width: 800px) {
	.title {
		font-size: 25px;
	}
}
@media screen and (max-width: 600px) {
	.title {
		font-size: 20px;
	}
}
@media screen and (max-width: 500px) {
	.title {
		font-size: 18px;
	}
	.logo, .logo_i {
		width: 40px;
	}
	.copyright {
		font-size: .6em;
		padding: 40px 0;
	}
}
@media screen and (max-width: 400px) {
	.title {
		font-size: 14px;
	}
	.image, .image2, .image1 {
		width: 70%;
	}
}