body {
	margin: 0 auto;
}

.container {
	position: relative;
	max-width: 100%;
	overflow-x: hidden;
	display: inline-block;
}

.logo {
	width: 60px;
	position: absolute;
	left: 3%;
	top: 5%;
	z-index: 10000;
	position: fixed;
	cursor: pointer;
}

.logo_i {
	width: 60px;
	position: absolute;
	left: 3%;
	top: 5%;
	z-index: 9000;
	position: fixed;
}

.dropdown {
	display: none;
	position: absolute;
	left: 0;
	top: 100px;
	min-width: 160px;
	z-index: 100000;
	position: fixed;
	background-color: white;
}


.dropdown a {
	display: block;
	color: #85744f;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
}

.container:hover .dropdown {
	visibility: show;
}

.dropdown a:hover {
	color: #f3f1ee;
}

ul {
	display: block;
	list-style: none;
	margin: 0;
}

li {
	display: block;
	padding: 10px;
	color: black;
	cursor: pointer;
}

.show {
	display: block;
}
.title {
	height: 250px;
}

.designtitle{
	display: block;
	width: 30%;
	margin: 0 auto;	
}

.dimage {
	display: inline-block;
	width: 27%;
	padding: 10px;
	margin: 0 auto;
	vertical-align: top;
	margin-left: 55px;
}

.prow {
	width: 100%;
	margin:0 auto;
	margin-bottom: 50px;
}

.a {
	width: 50%;
	margin: 0 auto;
	display: inline-block;
}

.dimage2 {
	display: inline-block;
	width: 40%;
	padding: 10px;
	margin: 0 auto;
	vertical-align: top;
	margin-left: 55px;
}

.dimage3 {
	display: block;
	width: 60%;
	margin: 0 auto;
	padding-bottom: 40px;
	vertical-align: top;
}

@media screen and (max-width: 1200px) {
	.title {
		height: 200px;
	}
	.dimage {
		width: 25%;
	}
}	
@media screen and (max-width: 1000px) {
	.title {
		height: 150px;
	}
	.a {
		display: block;
		width: 100%;
		margin: 0 auto;
	}
	.dimage, .dimage2, .dimage3 {
		width: 50%;
		display: block;
		margin: 0 auto;
	}
}
@media screen and (max-width: 900px) {
	.designtitle {
		width: 50%;
	}
	.title {
		height: 200px;
	}
}
@media screen and (max-width: 700px) {
	.title {
		height: 150px;
	}
}
@media screen and (max-width: 500px) {
	.designtitle {
		width: 60%;
	}
	.logo, .logo_i {
		width: 40px;
	}
}
@media screen and (max-width: 400px) {
	.dimage, .dimage2, .dimage3 {
		width: 70%;
	}
}