body {
	margin: 0 auto;
}

.container {
	position: relative;
}

.logo {
	width: 60px;
	position: absolute;
	left: 3%;
	top: 5%;
	z-index: 10000;
	position: fixed;
}

.title {
	height: 250px;
}

.designtitle{
	display: block;
	width: 30%;
	margin: 0 auto;	
}

.dimage {
	display: inline-block;
	width: 27%;
	padding: 10px;
	margin: 0 auto;
	vertical-align: top;
	margin-left: 55px;
}

.prow {
	width: 100%;
	margin:0 auto;
	margin-bottom: 50px;
}

.dimage2 {
	display: inline-block;
	width: 40%;
	padding: 10px;
	margin: 0 auto;
	vertical-align: top;
	margin-left: 55px;
}

@media screen and (max-width: 1200px) {
	.title {
		height: 200px;
	}
	.dimage {
		width: 40%;
	}
}	
@media screen and (max-width: 1000px) {
	.title {
		height: 150px;
	}
	.dimage {
		width: 40%;
		display: block;
		margin: 0 auto;
	}
	.dimage2 {
		width: 40%;
		display: block;
		margin: 0 auto;
	}
}
@media screen and (max-width: 900px) {
	.designtitle {
		width: 50%;
	}
	.title {
		height: 200px;
	}
}
@media screen and (max-width: 700px) {
	.title {
		height: 150px;
	}
}
@media screen and (max-width: 500px) {
	.designtitle {
		width: 60%;
	}
	.logo {
		width: 40px;
	}
}
@media screen and (max-width: 400px) {
	.dimage, .dimage2 {
		width: 70%;
	}
}