body {
	margin: 0 auto;
}

.container {
	position: relative;
}

.logo {
	width: 60px;
	position: absolute;
	left: 3%;
	top: 5%;
	z-index: 10000;
	position: fixed;
}

.title {
	position: relative;
	height: 250px;
}

.designtitle{
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 30%;
	
}

.dimage {
	display: inline-block;
	width: 27%;
	padding: 10px;
	margin: 0 auto;
	vertical-align: top;
	margin-left: 55px;
}

.prow {
	width: 100%;
	margin:0 auto;
	margin-bottom: 50px;
}

.dimage2 {
	display: inline-block;
	width: 40%;
	padding: 10px;
	margin: 0 auto;
	vertical-align: top;
	margin-left: 55px;
}

@media screen and (max-width: 1200px) {
	.title {
		height: 200px;
	}
	.dimage {
		width: 40%;
	}
}	
@media screen and (max-width: 1000px) {
	.title {
		height: 150px;
	}
	.dimage {
		width: 40%;
		display: block;
		margin-left: 30%
	}
	.dimage2 {
		display: block;
		margin-left: 30%;
	}
}