body {
	margin: 0;
	overflow-x: hidden;
}

meta {
	display: none;
}

a {
	color: #85744f;
}

.container {
	position: relative;
	margin: 0 auto;
	overflow-x: hidden;
}

.logo {
	width: 60px;
	position: absolute;
	left: 3%;
	top: 5%;
	z-index: 10000;
	position: fixed;
}

.sv {
	width: 80%;
	margin: 0 auto;
	overflow-x:hidden;
}

.sv-left {
	width: 50%;
	margin: 0 auto;
	display: inline-block;
/*	height: 400px;*/
	vertical-align: top;
/*	overflow-x: hidden;*/
}

.sv-right {
	width: 50%;
	display: inline-block;
/*	overflow-x: hidden;*/
}

.she {
	width: 60%;
	margin: 0 auto;
	display: block;
}

.designtitle{
	display: block;
	width: 30%;
	margin: 0 auto;
}

.ep {
	width: 90%;
	margin: 0 auto;
	margin-top: 10%;
	overflow-x:hidden;
}

.ep-left {
	display: inline-block;
	width: 60%;
/*	overflow-x: hidden;*/
}

.cover {
	height: 500px;
	width: 500px;
	padding-left: 20%;
}	

.ep-right {
	display: inline-block;
	width: 40%;
	margin: 0 auto;
/*	height: 300px;*/
	vertical-align: top;
/*	overflow-x: hidden;*/
}
.ep-text {
	padding-top: 10%;
	width: 50%;
	border-color:#85744f;
	border-style: solid;
	padding: 30px; 
	border-width: 2px;
	margin: 0 auto;
/*	overflow-x: hidden;*/
}

.hweek {
	width: 90%;
	margin: 0 auto;
	margin-top: 10%;
	overflow-x: hidden;
	overflow-y: hidden;
}

.hw-left {
	width: 60%;
	margin: 0 auto;
	display: inline-block;
/*	height: 400px;*/
	vertical-align: top;
/*	overflow-x: hidden;*/
}

.hw-text {
	width: 50%;
	margin: 0 auto;
	border-color:#85744f;
	border-style: solid;
	padding: 30px; 
	border-width: 2px;
/*	overflow-x: hidden;*/
}

.hw-container {
	display: inline-block;
	width: 30%;
	vertical-align: top;
	overflow-x:hidden;
}

.hw {
	width: 100%;
}

.div{
	width: 100%;
	margin: 0 auto;
	margin-top: 10%;
	margin-bottom: 20%;
}

.laurie{
	width: 100%;
	margin: 0 auto;
}

.left1 {
	width: 50%;
	display: inline-block;
	margin: 0 auto;

}

.g {
	width: 60%;
	display: block;
	margin: 0 auto;
	vertical-align: top;
	margin-top: 0;
	padding: 10px;
	border: solid 1px #85744f;
}

.right {
	width: 50%;
	display: inline-block;
	vertical-align: top;
	height: 200px;
/*	overflow-x: hidden;*/

}

.gtext {
	width: 45%;
	margin: 0 auto;
	border-color:#85744f;
	border-style: solid;
	padding: 30px; 
	border-width: 2px;
	vertical-align: top;
/*	overflow-x: hidden;*/
}

.gtext p, .ep-text p, .hw-text p, .gtext2 p {
	font-family: 'Open Sans', sans-serif;
	color: #85744f;
	font-size: 16px;
	margin: 0;
	line-height: 1.5;
	z-index: 1;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 0;
}

.gtext h1, .ep-text h1, .hw-text h1, .gtext2 h1  {
	color: #85744f;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	margin: 0;

}

.gtext h3, .hw-text h3, .gtext2 h3 {
	color: #85744f;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin:0;
}

.left {
	margin-top: 100px;
	display: inline-block;
	width: 30%;
	margin: 0 auto;
/*	height: 300px;*/
	vertical-align: top;
	margin-left: 5%;
/*	overflow-x: hidden;*/

}

.right2 {
	width: 65%;
	display: inline-block;
	margin:0;
/*	overflow-x: hidden;*/
}

.ltlogo{
	display: inline-block;
	width: 30%;
	vertical-align: bottom;
	padding-left: 10%;
	padding-right: 30px;
}

.site {
	width: 45%;
	display: inline-block;
	vertical-align: bottom;

}

.gtext2 {
	width: 60%;
	margin: 0 auto;
	border-color:#85744f;
	border-style: solid;
	padding: 20px; 
	border-width: 2px;
}

.gtext2 a {
	color: #85744f;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

.typography2 {
	width: 100%;
	margin-top: 10%;
	overflow-x: hidden;
}

.rtitle {
	width: 30%;
	margin:0 auto;
	vertical-align: top;
	font-size: 35px;
	color: #85744f;
	font-family: 'Lato', sans-serif;
	border-color: #85744f;
	border-bottom: 2px solid;
	padding: 10px;
	text-align: center;

}

.t1row{
	width: 100%;
	margin: 0 auto;
	margin-left: 10%;
/*	overflow-x:hidden;*/
}

.t1 {
	display: inline-block;
	width: 40%;
	padding: 30px 30px 0px 0px;
}

/******************************
           MEDIA QUERYS 
*******************************/

@media screen and (max-width: 1340px) {
	.rtitle {
	font-size: 35px;
	}
}
@media screen and (max-width: 1200px) {
	.title {
		height: 200px;
	}
	.left1 {
		width: 100%;
		margin: 0 auto;
		/*height: 700px;*/
		display: block;

	}

	.g {
		width: 70%;
		padding-left: 0;
		vertical-align: bottom;
	}

	.right {
		width: 100%;
		margin: 0 auto;
		/*height: 400px;*/
		display: block;
		vertical-align: top;
		margin-bottom: 5%;
		
	}

	.rtitle{
		font-size: 30px;
	}
	.gtext {
		width: 55%;
		margin: 0 auto;
		vertical-align: top;
	}
	.div {
		display: -webkit-flex;
	    -webkit-flex-direction: column-reverse;
	    margin-bottom: 10%;
	}

	.gtext2 {
		width: 75%;
	}

}
@media screen and (max-width: 1170px) {
	.hw-text {
		width: 60%;
	}
}
@media screen and (max-width: 1100px) {
	.cover {
		width: 400px;
		height: 400px;
	}
	.left {
		display: block;
		width: 60%;
		margin: 0 auto;
	}
	/*.g {
		vertical-align: bottom;
	}*/
	.right2 {
		display: block;
		width: 80%;
		margin: 0 auto;
		margin-left: 100px;
	}
	.rtitle {
		font-size: 25px;
	}
	/*.right {
		margin-top: 15%;
	}*/
	.hw-text {
		width: 70%;
	}
}

@media screen and (max-width: 900px) {
	.designtitle {
		width: 50%;
	}

	.sv-left, .sv-right {
		display: block;
		width: 100%;
		margin: 0 auto;
	}

	.she {
		display: block;
		width: 50%;
		margin: 0 auto;
		margin-top: 5%;
	}

	.ep {
		display: -webkit-flex;
	    -webkit-flex-direction: column-reverse;
	}

	.ep-left, .ep-right {
		display: block;
		width: 100%;
	}

	.cover, .ep-text {
		margin: 0 auto;
	}
	.hw-text {
		margin: 0 auto;
	}
	.cover {
		display: block;
		margin: 0 auto;
		padding-left: 0;
		margin-top: 5%;
	}
	.hw-left {
		display: block;
		width: 100%;
	}
	.hw-container {
		display: block;
		width: 100%;
	}
	.hw {
		display: block;
		width: 60%;
		margin: 0 auto;
	}
	.title {
		height: 200px;
	}

	.right {
		/*height: 600px;*/
		margin-top: 10%;
	}
	.t1row {
		width: 100%;
		margin: 0 auto;
		margin-left: 5%;
	}
	.rtitle {
		font-size: 25px;
		padding: 20px;
	}
	.div {
		margin-top: 0;
	}
}

@media screen and (max-width: 700px) {
	.cover {
		width: 350px;
		height: auto;
	}
	.sv {
		overflow-x:hidden;
	}
	.gtext p, .gtext2 p, .ep-text p, .hw-text p {
		font-size: 14px;
	}

	.gtext h1, .gtext2 h1, .ep-text h1, .hw-text h1 {
		font-size: 20px;

	}
	.g {
		margin-top: 5%;
	}
	.gtext h3, .gtext2 h3 {
		font-size: 16px;
	}

	.left {
		width: 80%;
		margin: 0 auto;
	}
	.gtext2 {
		margin: 0 auto;
	}
	.t1 {
		display: block;
		width: 60%;
		margin-left: 15%;
	}
	.right2 {
		width: 100%;
		margin: 0 auto;
	}

	.ltlogo {
		display: block;
		width: 60%;
		margin: 0 auto;
	}
	.site {
		display: block;
		width: 60%;
		margin: 0 auto;
	}

}
@media screen and (max-width: 580px) {
	/*.cover {
		width: 300px;
		height: 300px;
	}*/
	.title {
		height: 150px;
	}
	.gtext p, .gtext2 p, .ep-text p, .hw-text p {
		font-size: 12px;
	}

	.gtext h1, .gtext2 h1, .ep-text h1, .hw-text h1 {
		font-size: 18px;
	}

	.gtext h3, .gtext2 h3, {
		font-size: 14px;
	}

	.hweek {
		margin-top: 10%;
	}
}
@media screen and (max-width: 500px) {
	.designtitle {
		width: 70%;
	}
	.cover {
		width: 300px;
		height: 300px
	}
	/*.ep-left {
		height: 350px;
	}
	.right {
		height: 200px;
	}
	.left1 {
		height: 300px;
	}*/

	.ltlogo {
		width: 80%;
	}
	.site {
		display: block;
		width: 80%;
		margin: 0 auto;
	}

	.hw {
		width: 70%;
	}
	.hweek {
		margin-bottom: 0;
	}
	.logo {
		width: 40px;
	}
	.g {
		margin-top: 10%;
	}

}

@media screen and (max-width: 400px) {
	.cover {
		width: 250px;
		height: 250px;
	}
	.g {
		margin-top: 15%;
	}
}

@media screen and (max-width: 380px) {
	.g {
		margin-top: 20%;
	}
}

@media screen and (max-width: 330px) {
	.g {
		margin-top: 30%;
	}
}