body {
	margin: 0;
	overflow-x: hidden;
}

meta {
	display: none;
}

a {
	color: #85744f;
}

.container {
	position: relative;
	max-width: 100%;
	overflow-x: hidden;
	display: inline-block;
}

.logo {
	width: 60px;
	position: absolute;
	left: 3%;
	top: 5%;
	z-index: 10000;
	position: fixed;
	cursor: pointer;
}

.logo_i {
	width: 60px;
	position: absolute;
	left: 3%;
	top: 5%;
	z-index: 9000;
	position: fixed;
}

.dropdown {
	display: none;
	position: absolute;
	left: 0;
	top: 100px;
	min-width: 160px;
	z-index: 100000;
	position: fixed;
	background-color: white;
}


.dropdown a {
	display: block;
	color: #85744f;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
}

.container:hover .dropdown {
	visibility: show;
}

.dropdown a:hover {
	color: #f3f1ee;
}

ul {
	display: block;
	list-style: none;
	margin: 0;
}

li {
	display: block;
	padding: 10px;
	color: black;
	cursor: pointer;
}

.show {
	display: block;
}

.sv, .mv {
	width: 90%;
	margin: 0 auto;
	overflow-x:hidden;
}

.mv {
	margin-top: 3%;
	margin-bottom: 10%;
}

.sv-left, .mv-left {
	width: 50%;
	margin: 0 auto;
	display: inline-block;
	vertical-align: top;
}

.sv-right, .mv-right {
	width: 50%;
	display: inline-block;
}

.sv-text, .mv-text{
	width: 50%;
	margin: 0 auto;
	border-color:#85744f;
	border-style: solid;
	padding: 30px; 
	border-width: 2px;
}

.she, .mia {
	width: 60%;
	margin: 0 auto;
	display: block;
	vertical-align: top;
}

.designtitle{
	display: block;
	width: 25%;
	margin: 0 auto;
}

.ep {
	width: 90%;
	margin: 0 auto;
	margin-top: 10%;
	overflow-x:hidden;
}

.ep-left {
	display: inline-block;
	width: 50%;
}

.cover {
	width: 60%;
	margin: 0 auto;
	display: block;
}	

.ep-right {
	display: inline-block;
	width: 50%;
	margin: 0 auto;
	vertical-align: top;
}

.ep-text {
	padding-top: 10%;
	width: 60%;
	border-color:#85744f;
	border-style: solid;
	padding: 30px; 
	border-width: 2px;
	margin: 0 auto;
}

.hweek {
	width: 90%;
	margin: 0 auto;
	margin-top: 10%;
	overflow-x: hidden;
	overflow-y: hidden;
}

.hw-left {
	width: 50%;
	margin: 0 auto;
	display: inline-block;
	vertical-align: top;
}

.hw-text {
	width: 50%;
	margin: 0 auto;
	border-color:#85744f;
	border-style: solid;
	padding: 30px; 
	border-width: 2px;
}

.hw-container {
	display: inline-block;
	width: 50%;
	vertical-align: top;
	overflow-x:hidden;
}

.hw {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.div{
	width: 90%;
	margin: 0 auto;
	margin-top: 10%;
}

.laurie{
	width: 90%;
	margin: 0 auto;
	margin-top: 10%;
	margin-bottom: 15%;
}

.left1 {
	width: 50%;
	display: inline-block;
	margin: 0 auto;

}

.g {
	width: 70%;
	display: block;
	margin: 0 auto;
	vertical-align: top;
	margin-top: 0;
	padding: 10px;
	border: solid 1px #85744f;
}

.right {
	width: 50%;
	display: inline-block;
	vertical-align: top;
}

.gtext {
	width: 60%;
	margin: 0 auto;
	border-color:#85744f;
	border-style: solid;
	padding: 30px; 
	border-width: 2px;
	vertical-align: top;
}

.gtext p, .ep-text p, .hw-text p, .gtext2 p, .sv-text p, .mv-text p {
	font-family: 'Open Sans', sans-serif;
	color: #85744f;
	font-size: 16px;
	margin: 0;
	line-height: 1.5;
	z-index: 1;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 0;
}

.gtext h1, .ep-text h1, .hw-text h1, .gtext2 h1, .sv-text h1, .mv-text h1 {
	color: #85744f;
	font-family: 'Lato', sans-serif;
	font-size: 24px;
	margin: 0;
}

.gtext h3, .hw-text h3, .gtext2 h3, .sv-text h3, .mv-text h3 {
	color: #85744f;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	margin:0;
}

.left {
	margin-top: 100px;
	display: inline-block;
	width: 50%;
	margin: 0 auto;
	vertical-align: top;

}

.right2 {
	width: 50%;
	display: inline-block;
	margin:0;
	vertical-align: top;
}

.ltlogo{
	display: block;
	width: 60%;
	margin: 0 auto;
	vertical-align: top;
}

.gtext2 {
	width: 50%;
	margin: 0 auto;
	border-color:#85744f;
	border-style: solid;
	padding: 20px; 
	border-width: 2px;
}

.gtext2 a {
	color: #85744f;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}

.typography2 {
	width: 100%;
	margin-top: 10%;
	overflow-x: hidden;
}

.rtitle {
	width: 30%;
	margin:0 auto;
	vertical-align: top;
	font-size: 35px;
	color: #85744f;
	font-family: 'Lato', sans-serif;
	border-color: #85744f;
	border-bottom: 2px solid;
	padding: 10px;
	text-align: center;

}

.t1row{
	width: 100%;
	margin: 0 auto;
	margin-left: 10%;
}

.t1 {
	display: inline-block;
	width: 40%;
	padding: 30px 30px 0px 0px;
}
.copyright {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: .9em;
    padding: 70px 0;
    font-family: 'Lato', sans-serif;
    color: #85744f;
}

/******************************
           MEDIA QUERYS 
*******************************/

@media screen and (max-width: 1340px) {
	.rtitle {
	font-size: 35px;
	}
}
@media screen and (max-width: 1200px) {
	.title {
		height: 200px;
	}
	.left1 {
		width: 100%;
		margin: 0 auto;
		display: block;
		padding-left: 0;
	}

	.g {
		width: 70%;
		padding-left: 0;
		vertical-align: bottom;
	}

	.right {
		width: 100%;
		margin: 0 auto;
		display: block;
		vertical-align: top;
		margin-bottom: 5%;
		
	}

	.rtitle{
		font-size: 30px;
	}
	.gtext {
		width: 55%;
		margin: 0 auto;
		vertical-align: top;
	}
	.div {
		display: -webkit-flex;
	    -webkit-flex-direction: column-reverse;
	    margin-bottom: 10%;
	}

	.gtext2 {
		width: 75%;
	}

}
@media screen and (max-width: 1170px) {
	.hw-text {
		width: 60%;
	}
}
@media screen and (max-width: 1100px) {
	.cover {
		width: 400px;
		height: 400px;
	}
	.left {
		display: block;
		width: 60%;
		margin: 0 auto;
	}
	.g {
		vertical-align: bottom;
		margin-top: 5%;
	}
	.right2 {
		display: block;
		width: 80%;
		margin: 0 auto;
	}
	.rtitle {
		font-size: 25px;
	}
	.hw-text {
		width: 70%;
	}
}

@media screen and (max-width: 900px) {
	.designtitle {
		width: 30%;
	}

	.sv-left, .sv-right {
		display: block;
		width: 100%;
		margin: 0 auto;
	}

	.she, .mia {
		display: block;
		width: 50%;
		margin: 0 auto;
		margin-top: 5%;
	}

	.ep, .mv {
		display: -webkit-flex;
	    -webkit-flex-direction: column-reverse;
	}

	.ep-left, .ep-right, .mv-left, .mv-right {
		display: block;
		width: 100%;
	}

	.cover, .ep-text {
		margin: 0 auto;
	}
	.hw-text {
		margin: 0 auto;
	}
	.cover {
		display: block;
		margin: 0 auto;
		padding-left: 0;
		margin-top: 5%;
	}
	.hw-left {
		display: block;
		width: 100%;
	}
	.hw-container {
		display: block;
		width: 100%;
	}
	.hw {
		display: block;
		width: 60%;
		margin: 0 auto;
		padding-top: 30px;
	}
	.title {
		height: 200px;
	}

	.right {
		margin-top: 10%;
	}
	.t1row {
		width: 100%;
		margin: 0 auto;
		margin-left: 5%;
	}
	.rtitle {
		font-size: 25px;
		padding: 20px;
	}
	.div {
		margin-top: 0;
	}
	.g {
		margin-top: 10%;
	}
}

@media screen and (max-width: 700px) {
	.cover {
		width: 350px;
		height: auto;
	}
	.sv {
		overflow-x:hidden;
	}
	.gtext p, .gtext2 p, .ep-text p, .hw-text p, .sv-text p, .mv-text p{
		font-size: 14px;
	}

	.gtext h1, .gtext2 h1, .ep-text h1, .hw-text h1, .sv-text h1, .mv-text h1 {
		font-size: 20px;

	}
	.g {
		margin-top: 5%;
	}
	.gtext h3, .gtext2 h3, .sv-text h3, .mv-text h3 {
		font-size: 16px;
	}

	.left {
		width: 80%;
		margin: 0 auto;
	}
	.gtext2 {
		margin: 0 auto;
	}
	.t1 {
		display: block;
		width: 60%;
		margin-left: 15%;
	}
	.rtitle {
		width: 50%;
		margin: 0 auto;
	}
	.right2 {
		width: 100%;
		margin: 0 auto;
	}

	.ltlogo {
		display: block;
		width: 60%;
		margin: 0 auto;
	}
	.site {
		display: block;
		width: 60%;
		margin: 0 auto;
	}

}
@media screen and (max-width: 580px) {
	.title {
		height: 150px;
	}
	.gtext p, .gtext2 p, .ep-text p, .hw-text p, .sv-text p, .mv-text p {
		font-size: 12px;
	}

	.gtext h1, .gtext2 h1, .ep-text h1, .hw-text h1, .sv-text h1, .mv-text h1{
		font-size: 18px;
	}

	.gtext h3, .gtext2 h3, .sv-text h3, .mv-text h3 {
		font-size: 14px;
	}

	.hweek {
		margin-top: 10%;
	}
}
@media screen and (max-width: 500px) {
	.designtitle {
		width: 40%;
	}
	.cover {
		width: 300px;
		height: 300px
	}
	.ltlogo {
		width: 80%;
	}

	.hw {
		width: 70%;
	}
	.hweek {
		margin-bottom: 0;
	}
	.logo, .logo_i {
		width: 40px;
	}
	.g {
		margin-top: 10%;
	}
	.copyright {
		font-size: .6em;
		padding: 40px 0;
	}

}

@media screen and (max-width: 400px) {
	.cover {
		width: 250px;
		height: 250px;
	}
}