body {
	margin: 0;
	overflow-x: hidden;
}

meta {
	display: none;
}

a {
	color: #585858;
}

.container {
	position: relative;
	max-width: 100%;
	overflow-x: hidden;
	display: inline-block;
}

.logo {
	width: 60px;
	position: absolute;
	left: 3%;
	top: 5%;
	z-index: 10000;
	position: fixed;
	cursor: pointer;
}

.logo_i {
	width: 60px;
	position: absolute;
	left: 3%;
	top: 5%;
	z-index: 9000;
	position: fixed;
}

.title {
	text-align: center;
	font-family: 'lato', sans-serif;
	font-size: 40px;
	margin: 0;
	color: #595959;
	letter-spacing: .15em;
	font-weight: 900;
	margin-top: 2%;
	margin-bottom: 3%;
}

.dropdown {
	display: none;
	position: absolute;
	left: 0;
	top: 100px;
	min-width: 160px;
	z-index: 100000;
	position: fixed;
	background-color: white;
}


.dropdown a {
	display: block;
	color: #595959;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
}

.container:hover .dropdown {
	visibility: show;
}

.dropdown a:hover {
	color: #c9c9c9;
}

ul {
	display: block;
	list-style: none;
	margin: 0;
}

li {
	display: block;
	padding: 10px;
	color: black;
	cursor: pointer;
}

.show {
	display: block;
}

.row {
	width: 80%;
	margin: 0 auto;
}

.column {
	display: inline-block;
	width: 33.333%;
	margin: 0 auto;
}

.div, .poster, .pick, .she, .laurie, .mia {
	position: relative;
	width: 70%;
	padding: 20px;
	vertical-align: top;
	display: block;
	margin: 0 auto;
}

.poster, .pick, .she, .laurie {
	width: 60%;
}

.div {
	width: 80%;
}

.image {
	width: 100%;
	margin: 0 auto;
}

.overlay1, .overlay2, .overlay3, .overlay4, .overlay5, .overlay6 {
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #c9c9c9;
}

.mia:hover .overlay1{
	opacity: 1;
}
.she:hover .overlay2{
	opacity: 1;
}
.div:hover .overlay3{
	opacity: 1;
}
.poster:hover .overlay4{
	opacity: 1;
}
.pick:hover .overlay5{
	opacity: 1;
}
.laurie:hover .overlay6{
	opacity: 1;
}

.text {
	width: 75%;
	margin: 0 auto;
	color: white;
	font-size: 14px;
	font-family: 'lato', sans-serif;
	letter-spacing: .1em;
	line-height: 1.5em;
	padding-top: 10%;
}

.copyright {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: .9em;
    padding: 70px 0;
    font-family: 'Lato', sans-serif;
    color: #595959;
}

/******************************
           MEDIA QUERYS 
*******************************/

@media screen and (max-width: 1200px) {
	.text{
		font-size: 12px;
	}
}

@media screen and (max-width: 1100px) {
	.column {
		display: block;
		width: 40%;
		margin: 0 auto;
	}
	.div, .poster, .pick, .she, .laurie, .mia{
		width: 100%;
	}
	.text{
		font-size: 16px;
	}
}

@media screen and (max-width: 900px) {

	.text {
		font-size: 12px;
	}

}
@media screen and (max-width: 500px) {
	.logo, .logo_i {
		width: 40px;
	}
	.copyright {
		font-size: .6em;
		padding: 40px 0;
	}
	.column {
		width: 60%;
	}
	.text{
		font-size: 10px;
	}
}
@media screen and (max-width: 400px) {
	.title{
		font-size: 30px;
	}
}