body {
	margin: 0 auto;
}

.container {
	position: relative;
}

.logo {
	width: 60px;
	position: absolute;
	left: 3%;
	top: 5%;
	z-index: 10000;
	position: fixed;
}

.title {
	position: relative;
	height: 250px;
}

.designtitle{
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 30%;
	
}

.prow {
	width: 100%;
	margin:0 auto;
	margin-bottom: 10%;
}

.iimage{
	display: inline-block;
	width: 35%;
	padding: 20px;
	vertical-align: top;
	margin-left: 8%;
}

@media screen and (max-width: 1200px) {
	.title {
		height: 200px;
	}
}
@media screen and (max-width: 1100px) {
	.iimage{
		display: block;
		width: 50%;
		margin-left: 20%;
	}
}
@media screen and (max-width: 900px) {
	.designtitle {
		width: 50%;
	}
}
@media screen and (max-width: 500px) {
	.designtitle {
		width: 60%;
	}
	.title {
		height: 150px;
	}
	.logo {
		width: 40px;
	}
}