body {
	margin: 0 auto;
	overflow-x: hidden;
}

.container {
	position: relative;
	max-width: 100%;
	overflow-x: hidden;
	display: inline-block;
}

.logo {
	width: 60px;
	position: absolute;
	left: 3%;
	top: 5%;
	z-index: 10000;
	position: fixed;
	cursor: pointer;
}

.logo_i {
	width: 60px;
	position: absolute;
	left: 3%;
	top: 5%;
	z-index: 9000;
	position: fixed;
}

.dropdown {
	display: none;
	position: absolute;
	left: 0;
	top: 100px;
	min-width: 160px;
	z-index: 100000;
	position: fixed;
	background-color: white;
}


.dropdown a {
	display: block;
	color: #85744f;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
}

.container:hover .dropdown {
	visibility: show;
}

.dropdown a:hover {
	color: #f3f1ee;
}

ul {
	display: block;
	list-style: none;
	margin: 0;
}

li {
	display: block;
	padding: 10px;
	color: black;
	cursor: pointer;
}

.show {
	display: block;
}

.title {
	height: 250px;
}

.designtitle{
	display: block;
	width: 30%;
	margin: 0 auto;	
}

.prow {
	width: 100%;
	margin:0 auto;
	margin-bottom: 10%;
}

.iimage{
	display: inline-block;
	width: 35%;
	padding: 20px;
	vertical-align: top;
	margin-left: 8%;
}

/******************************

     	  MEDIA QUERYS 

*******************************/

@media screen and (max-width: 1200px) {
	.title {
		height: 200px;
	}
}
@media screen and (max-width: 1100px) {
	.iimage{
		display: block;
		width: 50%;
		margin: 0 auto;
	}
}
@media screen and (max-width: 900px) {
	.designtitle {
		width: 50%;
	}
}
@media screen and (max-width: 500px) {
	.designtitle {
		width: 60%;
	}
	.title {
		height: 150px;
	}
	.logo, .logo_i {
		width: 40px;
	}
}

@media screen and (max-width: 400px) {
	.iimage {
		width: 80%;
	}
}