body {
	margin: 0 auto;
}

.container {
	position: relative;
	max-width: 100%;
	overflow-x: hidden;
	display: inline-block;
}

.logo {
	width: 60px;
	position: absolute;
	left: 3%;
	top: 5%;
	z-index: 10000;
	position: fixed;
	cursor: pointer;
}

.logo_i {
	width: 60px;
	position: absolute;
	left: 3%;
	top: 5%;
	z-index: 9000;
	position: fixed;
}

.dropdown {
	display: none;
	position: absolute;
	left: 0;
	top: 100px;
	min-width: 160px;
	z-index: 100000;
	position: fixed;
	background-color: white;
}


.dropdown a {
	display: block;
	color: #85744f;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
}

.container:hover .dropdown {
	visibility: show;
}

.dropdown a:hover {
	color: #f3f1ee;
}

ul {
	display: block;
	list-style: none;
	margin: 0;
}

li {
	display: block;
	padding: 10px;
	color: black;
	cursor: pointer;
}

.show {
	display: block;
}

.designtitle{
	display: block;
	width: 30%;
	margin: 0 auto;	
}

.prow, .prow2 {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 80px;
}

.prow {
	/*height: 700px;*/
}

.prow2 {
	/*height: 350px;*/
}

.pimage {
	display: block;
	width: 50%;
	margin: 0 auto;
	vertical-align: top;
}

.copyright {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: .9em;
    padding: 70px 0;
    font-family: 'Lato', sans-serif;
    color: #85744f;
}
/******* MEDIA QUERYS ********/

@media screen and (max-width: 900px) {
	.designtitle {
		width: 50%;
	}
}
@media screen and (max-width: 500px) {
	.designtitle {
		width: 60%;
	}

	.logo, .logo_i {
		width: 40px;
	}
	.copyright {
		font-size: .6em;
		padding: 40px 0;
	}
}
@media screen and (max-width: 400px) {
	.pimage {
		width: 70%;
	}

}