body {
	margin: 0 auto;
}

.container {
	position: relative;
	max-width: 100%;
	overflow-x: hidden;
	display: inline-block;
}

.logo {
	width: 60px;
	position: absolute;
	left: 3%;
	top: 5%;
	z-index: 10000;
	position: fixed;
	cursor: pointer;
	overflow-x: hidden;
}

.logo_i {
	width: 60px;
	position: absolute;
	left: 3%;
	top: 5%;
	z-index: 9000;
	position: fixed;
}

.dropdown {
	display: none;
	position: absolute;
	left: 0;
	top: 100px;
	min-width: 160px;
	z-index: 100000;
	position: fixed;
	background-color: white;
	overflow-x: hidden;
}


.dropdown a {
	display: block;
	color: #595959;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
}

.container:hover .dropdown {
	visibility: show;
}

.dropdown a:hover {
	color: #c9c9c9;
}

ul {
	display: block;
	list-style: none;
	margin: 0;
}

li {
	display: block;
	padding: 10px;
	color: black;
	cursor: pointer;
}

.show {
	display: block;
}

.title {
	text-align: center;
	font-family: 'lato', sans-serif;
	font-size: 40px;
	margin: 0;
	color: #595959;
	letter-spacing: .15em;
	font-weight: 900;
	margin-top: 2%;
	margin-bottom: 3%;
	overflow-x: hidden;
}

.row {
	width: 80%;
	margin: 0 auto;
	padding-left: 5%;
	overflow-x: hidden;
}

.square {
	display: inline-block;
	width: 25%;
	padding: 35px;
	overflow-x: hidden;
}

.dyp {
	width: 40%;
	display: inline-block;
	padding: 25px;
	overflow-x: hidden;
}
.plage {
	width: 25%;
	display: inline-block;
	padding: 25px;
	overflow-x: hidden;
}

.comm {
	width: 15%;
	display: inline-block;
	padding: 25px;
	vertical-align: top;
	overflow-x: hidden;
}

.a {
	width: 100%;
	overflow-x: hidden;
}

.dim {
	font-family: 'lato', sans-serif;
	color: #595959;
	font-size: 10px;
	font-weight: 400;
	text-align: center;
	line-height: 1.5;
	letter-spacing: .05em;
	padding-top: 5px;
	overflow-x: hidden;
	width: 100%;
	margin: 0 auto;
}

.copyright {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: .7em;
    padding: 70px 0;
    font-family: 'Lato', sans-serif;
    color: #85744f;
    overflow-x: hidden;
}
/******* MEDIA QUERYS ********/

@media screen and (max-width: 1050px) {
	.square {
		padding: 30px;
	}
}
@media screen and (max-width: 937px) {
	.row {
		width: 100%;
		padding: 0;
	}
	.square, .plage, .comm, .dyp {
		width: 50%;
		display: block;
		margin: 0 auto;
		padding: 30px;
	}
}
@media screen and (max-width: 500px) {
	.logo, .logo_i {
		width: 40px;
	}
	.copyright {
		font-size: .6em;
		padding: 40px 0;
	}
}
@media screen and (max-width: 400px) {
	.title{
		font-size: 30px;
	}
	.square, .plage, .comm, .dyp {
		width: 60%;
}