body {
 	margin: 0;
}

a {
	color: #85744f;
}

.container {
	position: relative;
}

.logo {
	width: 75px;
	position: absolute;
	left: 3%;
	top: 5%;
	z-index: 10000;
	position: fixed;
}

.top-container {
     width: 100%;
     display: block;
     height: 770px;
     position: relative;
}

.top-container h2 {
	position: absolute;
	left: 12%;
	top: 52%;
	font-family: 'special elite', cursive;
	font-size: 48px;
	margin: 0;
	color: #85744f;
}

.top-container h4 {
	position: absolute;
	left: 17%;
	top: 60%;
	font-family: 'special elite', cursive;
	font-size: 36px;
	margin: 0;
	color: #85744f;
}

.grey {
	width: 70%;
	position: absolute;
	height: 420px;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 20%;
	background-color: #f3f1ee;
	z-index: -100;
	position: absolute;
}

.ocean {
	position: absolute;
	width: 490px;
	height: 320px;
	right: 20%;
	top: 10%;
	z-index: 1;
	padding: 10px;
	border: solid;
	border-color: #85744f;
}

.polaroid {
	z-index: 2;
	width: 220px;
	position: absolute;
	right: 25%;
	top: 29%;
}

.buttons {
	width: 100%;
	margin-left: 25%;
	position: absolute;
	top: 70%;

}

.box {
	width: 10%;
	padding-left: 20px;
	padding-right: 20px;
	display: inline-block;
	border: 30px;
	border: solid;
	border-color: #85744f;
	margin-right: 70px;
	padding-bottom: 10px;
}

.box p {
	font-family: 'oswald', sans-serif;
	color: #85744f;
	margin: 0 auto;
	font-size: 18px;
	text-align: center;
}

.box:hover {
	border-color: pink;
}

.box p: hover {
	color: pink;
}

.portfolio {
	position: relative;

	z-index: 100;
}

.work {
	width: 20%;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding-top: 40px;
	vertical-align: top;

}

.row1 {
	width: 100%;
	margin: 0 auto;
	margin-bottom: 100px;

}

.title {
	width: 25%;
	height: 500px;
	display: inline-block;
	position: relative;

}

.yellow {
	width: 100%;
	height: 100px;
	position: absolute;
	left: 0;
	bottom: 20%;
	z-index: 100;
	background-color: #f3f1ee;
}

.text {
	font-family: 'oswald', sans-serif;
	color: #85744f;
	position: absolute;
	left: 40%;
	top: 60%;
	font-size: 30px;
	text-align: right;
	border-style: solid;
	border-color: #85744f;
	border-width: 5px;
	padding: 20px;
	z-index: 101;

}

.text2 {
	font-family: 'oswald', sans-serif;
	color: #85744f;
	position: absolute;
	right: 30%;
	top: 50%;
	font-size: 30px;
	text-align: right;
	border-style: solid;
	border-color: #85744f;
	border-width: 5px;
	padding: 20px;
	z-index: 101;

}

.text:hover, .text2:hover {
	border-color: pink;
}

.yellow2 {
	width: 100%;
	height: 100px;
	position: absolute;
	right: 0;
	bottom: 30%;
	z-index: 100;
	background-color: #f3f1ee;
}

.row2 {
	width: 100%;
	margin-top: 80px;
}

.images {
	width: 75%;
	display: inline-block;
	position: relative;
	height: 500px;
}

.imagerowright1{
	width: 100%;
	position: absolute;
	top: 40%;
	right: 0;
}

.imagerowleft2 {
	width: 100%;
	position: absolute;
	top: 40%;
	left: 5%;
}

.typo {
	display: inline-block;
	width: 40%;
	margin-left: 50px;
	margin-right: 30px;
}

.grit {
	display: inline-block;
	width: 45%;
	padding: 10px;
	border: solid;
	border-color: #f3f1ee;
}

.imagerowleft1 {
	width: 100%;
	position: absolute;
	top: 10%;
	left: 5%;
}

.salz {
	display: inline-block;
	width: 24%;
	padding: 5px;
	border: solid;
	border-color: #f3f1ee;
}

.half {
	display: inline-block;
	width: 27%;
	padding-left: 20px;
	padding-right: 20px;
}

.space {
	display: inline-block;
	width: 30%;
	padding: 5px;
	border: solid;
	border-color: #f3f1ee;
}

.imagerowright2{
	width: 100%;
	position: absolute;
	top: 10%;
	right: -10%;
}

.hair {
	display: inline-block;
	width: 40%;
	margin-left: 40px;
}

.lips {
	display: inline-block;
	width: 33%;
	margin-left: 80px;
}

.diptych {
	display: inline-block;
	width: 50%;
	margin-right: 50px;
}

.purple {
	display: inline-block;
	width: 25%;
}

.about-title {
	width: 20%;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	padding-top: 40px;
	vertical-align: bottom;

}

.about {
	margin: 0 auto;
	height: 400px;
	position: relative;
	background-color: white;
	margin-top: 200px;
}

.info {
	width: 100%;
	margin: 0 auto;
	padding-bottom: 70px;
}

.photo {
	width: 30%;
	padding-left: 200px;
	display: inline-block;
}

.bio {
	width: 40%;
	display: inline-block;
	position: relative;
	height: 700px;
}

.yellow4 {
	z-index: 100;
	background-color: #f3f1ee;
	width: 100%;
	height: 370px;
	margin-bottom: 100px;
	position: absolute;
	left: 0;
	bottom: 3%;
}

.bio-text {
	font-family:'oswald', sans-serif;
	color: #85744f;
	font-size: 16px;
	margin: 0;
	line-height: 1.5;
	z-index: 101;

}

.inquiries {
	font-family: 'special elite', cursive;
	color: #85744f;
	font-size: 25px;
	margin-top: 30px;
	margin-bottom: 0px;
	z-index: 101;
}

.contact {
	font-family:'oswald', sans-serif;
	color: #85744f;
	font-size: 18px;
	margin: 0;
	z-index: 101;
}

.border {
	border-style: solid;
	border-width: 5px;
	padding: 50px;
	border-color: #85744f;
	width: 75%;
	position: absolute;
	right: -8%;
	bottom: -2%;
	z-index: 101;
}

/*Design.html*/
.designtitle{
	font-family: 'special elite', cursive;
	color: #85744f;
	padding: 0;
	font-size: 100px;
	text-align: center;
}

.derow{
	width: 100%;
	margin: 0 auto;
	margin-left: 80px;
	height: 500px;
}

.g {
	width: 60%;
	margin:0 auto;
	display: inline-block;

}

.right {
	width: 40%;
	display: inline-block;
	position: relative;
	vertical-align: bottom;
	height: 400px;
}

.gyellow{
	z-index: -1;
	background-color: #f3f1ee;
	width: 80%;
	height: 500px;
	margin-bottom: 100px;
	position: absolute;
	right: 0;
	bottom: -50%;
}

.gtext {
	position: absolute;
	right: 13%;
	bottom: -33%;
	width: 60%;
	border-color:#85744f;
	border-style: solid;
	padding: 30px; 
}

.gtext p {
	font-family:'oswald', sans-serif;
	color: #85744f;
	font-size: 16px;
	margin: 0;
	line-height: 1.5;
	z-index: 1;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 0;
}

.gtext h1 {
	color: #85744f;
	font-family: 'special elite', cursive;
	font-size: 24px;
	margin: 0;

}

.gtext h3 {
	color: #85744f;
	font-family: 'special elite', cursive;
	font-size: 18px;
	margin:0;
}

.left {
	margin-top: 100px;
	display: inline-block;
	position: relative;
	width: 50%;
	height: 300px;
	vertical-align: top

}

.ltlogo{
	display: inline-block;
	width: 25%;
	padding-left: 70px;
	vertical-align: bottom
}

.gyellow2{
	z-index: -1;
	background-color: #f3f1ee;
	width: 50%;
	height: 300px;
	margin-bottom: 100px;
	position: absolute;
	right: 10%;
	bottom: -40%;
}
.gtext2 {
	position: absolute;
	right: 20%;
	bottom: 0;
	width: 40%;
	border-color:#85744f;
	border-style: solid;
	padding: 20px; 
}

.gtext2 p {
	font-family:'oswald', sans-serif;
	color: #85744f;
	font-size: 16px;
	margin: 0;
	line-height: 1.5;
	z-index: 1;
	width: 100%;
	margin-bottom: 30px;
}

.gtext2 h1 {
	color: #85744f;
	font-family: 'special elite', cursive;
	font-size: 24px;
	margin: 0;

}

.gtext2 h3 {
	color: #85744f;
	font-family: 'special elite', cursive;
	font-size: 18px;
	margin-bottom: 10px;
	margin-top: 0;
}

.derow2 {
	width: 100%;
	margin: 0 auto;
	position: relative;
	height: 400px;
}

.site {
	width: 60%;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	bottom: 0;

}

.typography2 {
	width: 100%;
	height: 500px;
}

.lefttitle {
	display: inline-block;
	width: 33.3%;
	height: 500px;
	position: relative;
}

.tyellow {
	z-index: -1;
	background-color: #f3f1ee;
	width: 80%;
	height: 100px;
	position: absolute;
	left: 0;
	bottom: 15%;
}

.lefttitle h1{
	font-size: 50px;
	color: #85744f;
	font-family: 'special elite', cursive;
	border-color: #85744f;
	border-style: solid;
	padding: 10px;
	margin: 0;
	text-align: center;
	position: absolute;
	left: 25%;
	bottom: 10%;
}

.t1row{
	width: 66.66%;
	display: inline-block;
}

.t1 {
	display: inline-block;
	width: 45%;
	padding: 10px;
}

.t2 {
	display: inline-block;
	width: 22%;
	padding: 10px;
	vertical-align: top;
}

/*illustrations*/
.iimage{
	display: inline-block;
	width: 20%;
	padding: 10px;
	vertical-align: top;
	margin-left: 40px;
}

/*drawings*/
.dimage {
	display: inline-block;
	width: 15%;
	padding: 10px;
	margin: 0 auto;
	vertical-align: top;
	margin-left: 40px;
}

/*paintings*/
.prow {
	width: 100%;
	margin:0 auto;
}

.pimage {
	width: 35%;
	margin-left:100px;
	display: inline-block;
	padding: 40px;
	vertical-align: top;
}



/*.hamburger {
	background: none;
	position: absolute;
	top: 15%;
	left: 4%;
	line-height: 45px;
	padding: 5px 15px 0px 15px;
	color: #113C59;
	border: 0;
	font-size: 1.4em;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	z-index: 1000;
}

.cross{
	background:none;
	position: absolute;
	top: 15%;
	left: 4%;
	line-height: 65px;
	padding: 7px 15px 0px 15px;
	color: #113C59;
	border: 0;
	font-size: 3em;
	line-height: 65px;
	font-weight: bold;
	cursor: pointer;
	outline: none;
	z-index: 1000;
}

.menu {
	position: absolute;
	z-index: 1000;
	font-weight: bold;
	font-size: 0.8em; 
	width: 100%;
	background:#f1f1f1;
	text-align: center;
	font-size: 12px;
	font-family: 'oswald', sans-serif;
	color: #113C59;
}

.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.menu li {
	display: block;
	padding: 15px 0 15px 0;
	border-bottom: #dddddd 1px solid;
}

.menu li:hover{
	display: block;
	background: #ffffff;
	padding: 15px 0 15px 0;
	border-bottom: #dddddd 1px solid;
}

.menu ul li a {
	text-decoration: none;
	margin: 0;
	color: #113C59;
}

.menu ul li a:hover {
	text-decoration: none;
	color: #113C59;
}

.menu a {
	text-decoration: none;
	color: #113C59;
}

.menu a:hover {
	text-decoration: none;
	color: #113C59;
}
*/





