body {
 	margin: 0 ;
 	overflow-x: hidden;
 	max-width: 1500px;
}

meta {
	display: none;
}

a {
	color: #85744f;
}

/*link {
	display: none;
}*/

.container {
	position: relative;
	max-width: 100%;
	overflow-x: hidden;
	display: inline-block;
}

.logo {
	width: 60px;
	position: absolute;
	left: 3%;
	top: 5%;
	z-index: 10000;
	position: fixed;
	cursor: pointer;
}

.logo_i {
	width: 60px;
	position: absolute;
	left: 3%;
	top: 5%;
	z-index: 9000;
	position: fixed;
}

.dropdown {
	display: none;
	position: absolute;
	left: 0;
	top: 100px;
	min-width: 160px;
	z-index: 100000;
	position: fixed;
	background-color: white;
}


.dropdown a {
	display: block;
	color: #85744f;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
}

.container:hover .dropdown {
	visibility: show;
}

.dropdown a:hover {
	color: #f3f1ee;
}

ul {
	display: block;
	list-style: none;
	margin: 0;
}

li {
	display: block;
	padding: 10px;
	color: black;
	cursor: pointer;
}

.show {
	display: block;
}

.top-container {
     max-width: 100%;
     display: block;
     padding-top: 10%;
     height: 100vh;
     position: relative;
     overflow-x: hidden;
}

.hi {
	width: 27%;
	position: absolute;
	left: 9%;
	top: 30%;
	margin: 0;
	overflow-x: hidden;
}

.top-container h4 {
	position: absolute;
	left: 16%;
	top: 47%;
	font-family: 'Lato', sans-serif;
	font-size: 38px;
	margin: 0;
	color: #85744f;
	overflow-x: hidden;
}

.grey {
	width: 70%;
	position: absolute;
	height: 420px;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 20%;
	background-color: #f3f1ee;
	z-index: -100;
	position: absolute;
}

.ocean {
	position: absolute;
	width: 32%;
	height: auto;
	right: 10%;
	top: 27%;
	z-index: 1;
	padding: 10px;
	border: solid;
	border-color: #85744f;
	border-width: 2px;
	/*overflow-x:hidden;*/
}

.polaroid {
	z-index: 2;
	width: 27%;
	position: absolute;
	right: 39%;
	top: 12%;
}

.buttons {
	width: 100%;
	margin-left: 20%;
	position: absolute;
	top: 55%;
	overflow-x: hidden;
}

.box {
	width: 10%;
	padding: 10px;
	display: inline-block;
	border: solid;
	border-color: #85744f;
	border-width: 2px;
	margin-right: 70px;
	cursor: pointer;
}

.box p {
	font-family: 'Open Sans', sans-serif;
	color: #85744f;
	margin: 0;
	padding: 0;
	font-size: 18px;
	text-align: center;
	font-weight: 300;
}

.box:hover {
	border-color: #f3f1ee;
}

.portfolio {
	max-width: 100%;
	margin: 0 auto;
	position: relative;
	z-index: 100;
	overflow-x: hidden;
/*	margin-top: 10%;*/
}

.work {
	width: 20%;
	margin: 0 auto;
	/*padding-top: 20px;*/
	display: block;
	vertical-align: top;
}

.row1 {
	width: 90%;
	margin: 0 auto;
	margin-top: 5%;
	/*overflow-x: hidden;*/
}

.row2, .row1-1 {
	width: 90%;
	margin: 0 auto;
	margin-top: 10%;
	/*overflow-x:hidden;*/
}

.images {
	width: 75%;
	display: inline-block;
	vertical-align: bottom;
}

.title {
	width: 25%;
	display: inline-block;
	vertical-align: top;
	/*overflow-x:hidden;*/
}

.text {
	font-family: 'Lato', sans-serif;
	color: #85744f;
	font-size: 30px;
	text-align: left;
	border-bottom-style: solid;
	border-color: #85744f;
	border-width: 3px;
	padding: 20px;
	z-index: 101;
	margin-bottom: 50px;

}

.text2 {
	font-family: 'Lato', sans-serif;
	color: #85744f;
	font-size: 30px;
	text-align: right;
	border-bottom-style: solid;
	border-color: #85744f;
	border-width: 3px;
	padding: 20px;
	z-index: 101;

}

.text a, .text2 a {
	text-decoration: none;

}

.text:hover, .text2:hover {
	border-color: #f3f1ee;
}

.typo {
	display: inline-block;
	width: 40%;
	margin-left: 50px;
	margin-right: 30px;
}

.grit {
	display: inline-block;
	width: 45%;
	padding: 10px;
	/*border: solid;
	border-color: #f3f1ee;*/
}

.salz {
	display: inline-block;
	width: 24%;
	padding: 5px;
	border: solid;
	border-color: #f3f1ee;
}

.half {
	display: inline-block;
	width: 27%;
	padding-left: 20px;
	padding-right: 20px;
}

.space {
	display: inline-block;
	width: 30%;
	padding: 5px;
	border: solid;
	border-color: #f3f1ee;
}

.hair {
	display: inline-block;
	width: 31%;
	margin-left: 95px;
}

.lips {
	display: inline-block;
	width: 33%;
	margin-left: 80px;
}

.diptych {
	display: inline-block;
	width: 60%;
	margin-right: 50px;
	margin-left: 0;
}

.purple {
	display: inline-block;
	width: 30%;
	margin: 0;
}

.photo {
	display: inline-block;
	width: 30%;
	margin: 0;
	margin-left: 10%;
	vertical-align: top;
}

.about {
	max-width: 100%;
	margin: 0 auto;
	/*height: 100vh;*/
	/*position: relative;*/
	background-color: white;
	margin-top: 10%;
	padding-bottom: 10%;
	overflow-x:hidden;
}

.about_row {
	width: 100%;
	margin: 0 auto;
	/*overflow-x:hidden;*/
}

.info {
	width: 40%;
	display: inline-block;
	margin: 0 auto;
	padding-bottom: 70px;
}

.bio {
	width: 100%;
	position: relative;
	height: 450px;
}

.grey2 {
	z-index: 100;
	background-color: #f3f1ee;
	width: 100%;
	height: 420px;
	margin-bottom: 100px;
	position: absolute;
	left: 0;
	top: 8%;
}

.bio-text {
	font-family: 'Open Sans', sans-serif;
	color: #85744f;
	font-size: 16px;
	font-weight: 300;
	margin: 0;
	line-height: 1.5;
	z-index: 101;

}

.bold-text {
	font-weight: 700;
}

.border {
	border-style: solid;
	padding: 50px;
	border-color: #85744f;
	width: 80%;
	position: absolute;
	right: -8%;
	bottom: -30%;
	z-index: 101;
	border-width: 3px;
}

.contact_wrapper {
	width: 50%;
	display: inline-block;
	margin: 0 auto;
	vertical-align: top;
	padding-top: 5%;
}

.contact-form {
	width: 80%;
	margin: 0 auto;
	padding-left: 25%;
	font-family: 'Lato', sans-serif;
	color: #85744f;
	display: inline-block;
}

form {
	width: 100%;
	margin: 0 auto;
}

input[type="text"] {
	height: 24px;
	padding: 6px 10px;
	border: 2px solid #85744f;
}
input[type="submit"] {
	display: block;
	width: 30%;
	margin: 0 auto;
	text-align: center;
	color: #85744f;
	font-family: 'Lato', sans-serif;
	border: 2px solid #85744f;
	padding: 15px 0px;
	margin-top: 10px;
	font-size: 18px;
	-webkit-appearance: button;
    cursor: pointer;
    background-color: white;
}

input, textarea {
	font: inherit;
}

input[type="submit"]:hover {
	border-color: #f3f1ee;
}

.contact-section {
	display: inline-block;
	width: 50%;

}

.contact-section .first-input {
    width: calc(100% - 40px);
}

input, textarea {
    margin-bottom: 1.5rem;
    width: calc(100% - 20px);
    padding: 6px 10px;
}

.contact-form h1 {
	font-family: 'Lato', sans-serif;
	font-size: 30px;
	text-align: center;
}

.name, .email, .phone, .message {
	font-size: 16px;
	font-family: 'Lato', sans-serif;
	width: 100%;
}

textarea {
	min-height: 80px;
    padding-top: 6px;
    padding-bottom: 6px;
    border: 2px solid #85744f;
}

.message_sent {
	display: none;
	padding-left: 25%;
	vertical-align: top;
	padding-top: 10%;
}

.msent {
	display: block;
	width: 100%;
	margin: 0 auto;
}

.sent {
	text-align: center;
	font-family: 'Lato', sans-serif;
	color: #85744f;
	padding-bottom: 10%;
}

.form_errors {
	color: red;
	text-align: center;
	font-family: 'Lato', sans-serif;
}

/*.form_wrapper {
	overflow-x:hidden;
}*/

/***************************

      MEDIA QUERYS 
      
****************************/
@media screen and (max-width: 1400px) {
	.top-container h4 {
		left: 14%;
	}
}

@media screen and (max-width: 1350px) {
	.top-container h4 {
		font-size: 35px;
	}
	.polaroid {
		top: 15%;
	}
}

@media screen and (max-width: 1260px) {
	.top-container h4 {
		left: 10%;
	}

}


@media screen and (max-width: 1150px) {
	.top-container h4 {
		font-size: 30px;
	}
	.hi {
		width: 25%;
		top: 33%;
	}

	.row2 {
	    display: -webkit-flex;
	    -webkit-flex-direction: column-reverse;
	}

	.title {
		width: 80%;
		margin:0 auto;
		display: block;

	}
	.images {
		width: 100%;
		margin: 0 auto;
		vertical-align: top;
		display: block;
	}
	.text, .text2 {
		text-align: center;
	}

}
@media screen and (max-width: 1080px) {
	.top-container h4 {
		top: 47%;
	}
	.hi {
		top: 35%;
	}
	.border {
		bottom: -35%;
		padding: 30px;
	}
}
@media screen and (max-width: 1000px) {
	.hi {
		top: 40%;
		left: 15%;
	}
	img#ocean {
		display: none;
	}
	.top-container h4 {
		top: 53%;
		left: 22%;
	}

	.polaroid {
		width: 40%;
		right: 20%;
	}
	.buttons {
		margin-left: 33%;
		top: 60%;
	}
	.info {
		width: 100%;
		margin: 0;
	}
	.bio {
		display: block;
		width: 85%;
		margin: 0 auto;

	}

	.grey2 {
		height: 350px;
	}

	.contact_wrapper {
		display: block;
		width: 100%;
		margin: 0 auto;
	}

	.contact-form {
		padding: 0;
		width: 60%;
		margin: 0 auto;
		margin-left: 20%;
	}

	.border {
		right: 0;
		left: 0;
		margin: 0 auto;
		bottom: 0;
	}
	.info {
		display: -webkit-flex;
	    -webkit-flex-direction: column-reverse;
	}
}
@media screen and (max-width: 900px) {
	
	.top-container h4 {
		text-align: center;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 65%;
	}

	.polaroid {
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 23%;
	}
	.grey {
		height:500px;
	}
	.box {
		width: 10%;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 10px;
	}
	.hi {
		width: 32%;
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 52%;
	}
	.buttons {
		margin-left: 18%;
		top: 73%;
		
	}
	.box {
		width: 25%;
	}

	.typo, .grit, .salz, .half, .space, .hair, .lips, .diptych, .purple, .photo {
		display: block;
		width: 50%;
		margin: 0 auto;
		margin-top: 10px;
	}
}
@media screen and (max-width: 840px) {
	
	.grey {
		top: 10%;
		height: 550px;
	}
	.polaroid {
		top: 15%;
		width: 45%;
	}
	.hi {
		width: 35%;
		top: 45%;
	}
	.top-container h4 {
		top: 60%;
	}
	.buttons {
		top: 67%;
	}
}
@media screen and (max-width: 800px) {
	.work {
		width: 30%;
	}
	.box {
		width: 30%;
		margin-left: 15%;
		display: block;
		margin-bottom: 20px;
	}
	.hi {
		top: 45%;
	}

	.top-container h4 {
		top: 57%;
	}
	.buttons {
		top: 63%;
	}
	.grey2 {
		top: 20%;
	}
	.border {
		bottom: -10%;
	}
}
@media screen and (max-width: 700px) {
	.polaroid {
		width: 50%;
	}
	.typo, .grit, .salz, .half, .space, .hair, .lips, .diptych, .purple, .photo {
		display: block;
		width: 70%;
		margin: 0 auto;
		margin-top: 10px;
	}
}
@media screen and (max-width: 660px) {
	.hi {
		width: 45%;
		top: 40%;
	}
	.grey {
		width: 80%;
		top: 10%;
	}
	.polaroid {
		width: 50%;
		top: 15%;
	}
	.top-container h4 {
		top: 55%;
	}
	.bio {
		height: 600px;
	}
	.border {
		bottom: 5%;
	}
}
@media screen and (max-width: 600px) {
	.hi {
		top: 39%;
	}
	.top-container h4 {
		font-size: 25px;
		top: 53%;
	}
	.buttons {
		top: 60%;
	}
}
@media screen and (max-width: 500px) {
	.hi {
		width: 50%;
		top: 40%;
	}
	.info {
		padding-bottom: 0;
	}

	.bio {
		height: 500px;
	}
	.polaroid {
		width: 60%;
	}
	.top-container h4 {
		font-size: 22px;
	}
	.bio-text {
		font-size: 13px;
	}
	.contact-form {
		width: 80%;
		margin-left: 10%;
	}
	.border {
		bottom: 0%;
	}
}
@media screen and (max-width: 430px) {
	.top-container h4 {
		top: 53%;
	}
	.hi {
		width: 60%;
		top: 41%;
	}
	.polaroid {
		width: 65%;
		top: 18%;
	}
	.border {
		padding: 20px;
	}
	.buttons {
		top: 60%;
	}
	.portfolio {
		margin-top: 20%;
	}
	input[type="submit"], input[type="text"], textarea {
		border: 3px solid #85744f;
	}

}

@media screen and (max-width: 390px) {
	.grey {
		top: 5%;
	}
	.polaroid {
		width: 65%;
		top: 10%;
	}
	.top-container h4 {
		top: 50%;
		font-size: 20px;
	}
	.hi {
		top: 35%;
	}
}


@media screen and (max-width: 320px) {
	.hi {
		width: 70%;
	}
	.top-container h4 {
		font-size: 18px;
	}
	.grey {
		height: 500px;
	}
}
