body {
 	margin: 0 ;
 	overflow-x: hidden;
 	max-width: 1500px;
}

meta {
	display: none;
}

a {
	color: #595959;
}

/*COLORS
dark grey: #393939;
*/

.container {
	position: relative;
	max-width: 100%;
	overflow-x: hidden;
	display: inline-block;
}

.logo {
	width: 60px;
	position: absolute;
	left: 3%;
	top: 5%;
	z-index: 10000;
	position: fixed;
	cursor: pointer;
}

.logo_i {
	width: 60px;
	position: absolute;
	left: 3%;
	top: 5%;
	z-index: 9000;
	position: fixed;
}

.dropdown {
	display: none;
	position: absolute;
	left: 0;
	top: 100px;
	min-width: 160px;
	z-index: 100000;
	position: fixed;
	background-color: white;
}


.dropdown a {
	display: block;
	color: #595959;
	text-decoration: none;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.container:hover .dropdown {
	visibility: show;
}

.dropdown a:hover {
	color: #c9c9c9;
}

ul {
	display: block;
	list-style: none;
	margin: 0;
}

li {
	display: block;
	padding: 10px;
	color: black;
	cursor: pointer;
}

.show {
	display: block;
}

.top-container {
     max-width: 100%;
     display: block;
     padding-top: 10%;
     height: 100vh;
     position: relative;
     overflow-x: hidden;
}

.name {
	width: 27%;
	position: absolute;
	left: 11%;
	top: 31%;
	margin: 0;
	overflow-x: hidden;
}

.top-container h4 {
	position: absolute;
	left: 25%;
	top: 51%;
	font-family: 'Lato', sans-serif;
	font-size: 38px;
	margin: 0;
	/*color: #85744f;*/
	color: #595959;
	overflow-x: hidden;
	letter-spacing: .15em;
	font-weight: 400;
}

.grey {
	width: 65%;
	position: absolute;
	height: 420px;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 15%;
	background-color: #f3f1ee;
	z-index: -100;
	position: absolute;
}

.gif {
	position: absolute;
	width: 35%;
	height: auto;
	right: 25%;
	top: 10%;
	z-index: 1;
	padding: 10px;
	border: solid;
	border-color: #797979;
	border-width: 2px;
}

.buttons {
	width: 100%;
	margin: 0 auto;
	position: absolute;
	margin-left: 35%;
	top: 60%;
	overflow-x: hidden;
}

.box {
	width: 10%;
	padding: 15px;
	display: inline-block;
	border: solid;
	border-color: #595959;
	border-width: 2px;
	margin-right: 70px;
	cursor: pointer;
}

.box p {
	font-family: 'lato', sans-serif;
	color: #595959;
	margin: 0;
	padding: 0;
	font-size: 18px;
	text-align: center;
	font-weight: 300;
}

.box:hover {
	border-color: #c9c9c9;
}

.portfolio {
	max-width: 100%;
	margin: 0 auto;
	position: relative;
	overflow-x: hidden;
}

.portfolio h1, .about h1 {
	text-align: center;
	font-family: 'lato', sans-serif;
	font-size: 40px;
	margin: 0;
	color: #595959;
	letter-spacing: .15em;
	font-weight: 900;
	margin-top: 2%;
}

.portfolio h5 {
	font-family: 'lato', sans-serif;
	font-size: 12pt;
	margin: 0;
	color: #595959;
	letter-spacing: .15em;
	font-weight: 300;
	text-align: center;
	margin-bottom: 3%;

}

.row, .row2 {
	width: 80%;
	margin: 0 auto;
	position: relative;
	height: 100vh;
}

.container1, .container2, .container3, .container4, .container5 {
	position: absolute;
}

.one, .two, .three, .four, .five {
	position: relative;
	width: 100%;
	margin: 0 auto;
}

.overlay1, .overlay2, .overlay3, .overlay4, .overlay5 {
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: #c9c9c9;
}
.container1 {
	left: 7%;
	top: 0;
	width: 25%;
}

.container2 {
	left: 36%;
	top: 0;
	width: 27%;
}

.container3 {
	right: 10%;
	top: 0;
	width: 20%;
}

.container4 {
	top: 33%;
	left: 36%;
	width: 27%;
}

.container5 {
	bottom: 20%;
	right: 8%;
	width: 25%;
}

.a {
	width: 100%;
}

.one:hover .overlay1{
	opacity: 1;
}
.two:hover .overlay2{
	opacity: 1;
}
.three:hover .overlay3{
	opacity: 1;
}
.four:hover .overlay4{
	opacity: 1;
}
.five:hover .overlay5{
	opacity: 1;
}

.medium {
	color: white;
	font-size: 12px;
	font-family: 'lato', sans-serif;
	letter-spacing: .15em;
	position: absolute;
	top: 50%;
	left: 38%;
}

.about {
	max-width: 100%;
	margin: 0 auto;
	background-color: white;
	overflow-x:hidden;
	overflow-y: hidden;
/*	height:100vh;*/
}
.about h1{
	margin-bottom: 5%;
}

.info, .image_wrapper {
	display: inline-block;
	width: 50%;
	margin: 0 auto;
	vertical-align: top;
}

.info {
	position: relative;
	height: 450px;

}

.row2 {
	height: 80vh;
}
.grey2 {
	z-index: 0;
	background-color: #f3f1ee;
	width: 85%;
	height: 370px;
	margin-bottom: 100px;
	position: absolute;
	left: 0;
	top: 13%;
}
.border {
	border-style: solid;
	padding: 30px;
	border-color: #797979;
	width: 70%;
	position: absolute;
	left: 7%;
	top: 7%;
	z-index: 1;
	border-width: 3px;
}
.bio-text {
	font-family: 'Open Sans', sans-serif;
	color: #595959;
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	line-height: 1.5;
	letter-spacing: .05em;
	z-index: 101;
}

.bold-text {
	font-family: 'lato', sans-serif;
	font-weight: 400;
}

.photo {
	width: 65%;
	display: block;
	margin: 0 auto;
	padding-top: 10%;
}
.social_media {
	width: 65%;
	margin: 0 auto;
	margin-top: 10%;
	padding-left: 5%;
}
.social_media img {
	width: 35px;
	height: 35px;
	margin: 0 auto;
	display: inline-block;
	margin-left: 10%;
	/*margin-right: 5%;*/
}

.social_media a {
	text-decoration: none;
}

.copyright {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    font-size: .7em;
    padding: 70px 0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    color: #595959;
}

/***************************

      MEDIA QUERYS 
      
****************************/
@media screen and (max-width: 1280px) {
	.name {
		left: 13%;
		top: 33%;
	}

	.top-container h4 {
		display: block;
		left: 0;
		right: 0;
		margin: 0;
		text-align: center;
		top: 51%;
	}
	.gif {
		right: 22%;
		top: 13%;
	}	
}

@media screen and (max-width: 1100px) {
	.top-container h4 {
		font-size: 34px;
	}
	.name {
		top: 33%;
	}
	.row2 {
		width: 100%;
		margin: 0 auto;
		height: 150vh;	
	    display: -webkit-flex;
	    -webkit-flex-direction: column-reverse;
	}

	.info, .image_wrapper {
		display: block;
		width: 70%;
		margin: 0 auto;
		height: 70vh;
	}

	.social_media {
		padding-left: 10%;
	}
	
	.grey2 {
		width: 80%;
		height: 390px;
		left: 13%;
		top: 15%;
		margin: 0;
	}

	.border {
		display: block;
		left:0;
		right: 0;
		margin: 0 auto;
		top: 10%;
	}	
	
	.images {
		width: 100%;
		margin: 0 auto;
		vertical-align: top;
		display: block;
	}
	.photo {
		left: 0;
		right: 0;
		margin: 0 auto;
		padding-top: 0%;
	}
	.about h1 {
		margin-bottom: 0; 
	}
}

@media screen and (max-width: 1080px) {
	.top-container h4 {
		top: 52%;
	}
	.name {
		left: 0;
		right: 0;
		margin: 0 auto;
		top: 37%;
	}
	.gif{
		left: 0;
		right: 0;
		margin: 0 auto;
	}
	.border {
		padding: 30px;
	}
}
@media screen and (max-width: 1000px) {
	.buttons {
		margin-left: 33%;
		top: 60%;
	}

}
@media screen and (max-width: 900px) {
	
	.name {
		width: 30%;
		top: 35%;
	}
	.top-container h4 {
		font-size: 30px;
		top: 50%;
	}

	.photo {
		top: 23%;
	}
	.image_wrapper {
		height: auto;
	}

	.row2 {
		height: auto;
		margin-top: 5%;
	}
	.box {
		width: 20%;
		display: block;
		margin: 0 auto;
		margin-bottom: 20px;
	}
	
	.buttons {
		display: block;
		margin: 0 auto;
		top: 57%;
	}

}
@media screen and (max-width: 840px) {
	
	.photo {
		/*top: 15%;
		width: 45%;*/
	}

}
@media screen and (max-width: 800px) {
	
	.name {
		top: 37%;
	}
	.gif {
		width: 45%;
	}
	.bio-text{
		font-size: 12px;
	}
}
@media screen and (max-width: 700px) {
	.social_media{
		padding-left: 0;
	}
	.top-container h4 {
		font-size: 24px;
	}
}
@media screen and (max-width: 660px) {
	.name {
		width: 45%;
		top: 33%;
	}
	.social_media img{
		width: 25px;
		height: 25px;
		margin-left: 10%;
	}
	.border {
		width: 80%;
		padding: 20px;
		border-width: 2px;
	}
	.grey2 {
		height: 350px;
	}
}
@media screen and (max-width: 600px) {

}
@media screen and (max-width: 500px) {
	.gif {
		width: 50%;
		top: 20%;
	}
	.name {
		top: 40%;
	}
	.top-container h4 {
		top: 55%;
		font-size: 22px;
	}
	.buttons {
		top: 63%;
	}
	.grey2 {
		height: 370px;
		left: 7%;
		top: 14%;
	}
	.bio-text {
		font-size: 11px;
	}
	.logo, .logo_i {
		width: 40px;
	}
	.copyright {
		font-size: .6em;
		padding: 40px 0;
	}
}
@media screen and (max-width: 430px) {
	.name {
		width: 60%;
		top: 35%;
	}
	.border {
		padding: 15px;
	}
	
	.top-container h4 {
		top: 50%;
		width: 80%;
		margin: 0 auto;
	}
	.buttons {
		top: 60%;
	}
	.box {
		width: 30%;
	}
	.portfolio {
		margin-top: 20%;
	}
	.social_media img{
		width: 20px;
		height: 20px;
		margin-left: 10%;
	}
	.portfolio h1, .about h1 {
		font-size: 30px;
	}

}

@media screen and (max-width: 390px) {
	.border {
		width: 85%;
	}
	.grey2 {
		height: 350px;
		width: 100%;
	}
}


@media screen and (max-width: 320px) {
	.social_media img{
		width: 15px;
		height: 15px;
		margin-left: 10%;
	}
	.border {
		width: 100%;
	}
	.bio-text{
		font-size: 10px;
	}
}
